In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ì¶”ê°€ë§¥ì£¼ì¢…í•©ë°ì´í„°.csv', encoding='utf-8', index_col=0)

In [4]:
data2 = pd.read_csv('í¬ë¡¤ë§_ì›ë³¸ë°ì´í„°.csv', encoding='utf-8', index_col=0)

In [5]:
data = data[['ë§¥ì£¼ì´ë¦„', 'ë§¥ì£¼ì •ë³´']]
data2 = data2[['ë§¥ì£¼ì´ë¦„', 'ë§¥ì£¼ì •ë³´']]

In [7]:
data = pd.concat([data,data2])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 319129 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ë§¥ì£¼ì´ë¦„    319129 non-null  object
 1   ë§¥ì£¼ì •ë³´    319129 non-null  object
dtypes: object(2)
memory usage: 7.3+ MB

In [95]:
data.head()

                ë§¥ì£¼ì´ë¦„                                               ë§¥ì£¼ì •ë³´
0  5,0 Original Pils  hopihalido(1,454)\nğŸ‡©ğŸ‡ªHamburg, Germany\n1.2Dece...
1  5,0 Original Pils  AndreiProdan(213)\nğŸ‡²ğŸ‡©Rautel, Moldova\n2.4Decem...
2  5,0 Original Pils  Badylatko(469)\nğŸ‡µğŸ‡±Poland\n2.1September 24, 202...
3  5,0 Original Pils  qt01(451)\nğŸ‡·ğŸ‡´Cluj-Napoca, Romania\n2.1August 1...
4  5,0 Original Pils  SVD(3,986)\nğŸ‡³ğŸ‡±Netherlands\n3.4August 2, 2020\n...

In [10]:
# ë§¥ì£¼ì •ë³´ Raw ë°ì´í„°ê°’
data['ë§¥ì£¼ì •ë³´'].iloc[0]

'hopihalido(1,454)\nğŸ‡©ğŸ‡ªHamburg, Germany\n1.2December 19, 2020\nAR: hopfig, unangenehm, \nAP: klares goldgelb\nTA: malzig, brotig,â€¦\nShow more\nCAN\nAroma\n2\nAppearance\n1\nFlavor\n2\nMouthfeel\n2\nOverall\n5'

## ì „ì²˜ë¦¬ 1ë‹¨ê³„ - ë¬¸ìì—´ ë¶„ë¦¬í•˜ê¸°('\n')

In [11]:
# tmp ë³€ìˆ˜ì— ì¹´í”¼
tmp = data.copy()

In [12]:
# \n ê°œí–‰ë¬¸ì ê¸°ì¤€ìœ¼ë¡œ ë¶„ë¦¬
tmp['ë§¥ì£¼ì •ë³´'] = tmp['ë§¥ì£¼ì •ë³´'].str.split('\n')
tmp['ë§¥ì£¼ì •ë³´']

0    [hopihalido(1,454), ğŸ‡©ğŸ‡ªHamburg, Germany, 1.2Dec...
1    [AndreiProdan(213), ğŸ‡²ğŸ‡©Rautel, Moldova, 2.4Dece...
2    [Badylatko(469), ğŸ‡µğŸ‡±Poland, 2.1September 24, 20...
3    [qt01(451), ğŸ‡·ğŸ‡´Cluj-Napoca, Romania, 2.1August ...
4    [SVD(3,986), ğŸ‡³ğŸ‡±Netherlands, 3.4August 2, 2020,...
                           ...
3    [TedE(2,324), ğŸ‡¦ğŸ‡ºGlen Innes, Australia, 3.4Augu...
4    [KansaiBeerLvrs(7,283), ğŸ‡¯ğŸ‡µKyoto, Japan, 3.1May...
5    [cubs(10,772), ğŸ‡ºğŸ‡¸Fort Collins, United States, ...
6    [arminjewell(9,756), ğŸ‡ºğŸ‡¸East Lansing, United St...
7    [Fatehunter(3,190), ğŸ‡ºğŸ‡¸Corbett, United States, ...
Name: ë§¥ì£¼ì •ë³´, Length: 319129, dtype: object

In [13]:
# íŠ¹ì´ì  í™•ì¸ : 0,1,2,3ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œê¹Œì§€ ì˜ë¼ì•¼í•¨.
for i in range(75252, 75255):
    print(tmp['ë§¥ì£¼ì •ë³´'].iloc[i], '\n')

['AgentSteve(1,648)', 'ğŸ‡ºğŸ‡¸SF Bay Area, United States', '3.3April 8, 2008', 'Pours a clear copper color with very thin and very light colored head. Nose is almost nonexistent. Flavor is a bit malty in the front, bitter in the mid, and dry and a slightlyâ€¦', 'Show more', 'Aroma', '6', 'Appearance', '3', 'Flavor', '6', 'Mouthfeel', '3', 'Overall', '15']

['Haslinger(1,011)', 'ğŸ‡ºğŸ‡¸The World of Beer, United States', '3.1April 6, 2008', 'on tap, nothing spectacular, I was disappointed after the other Fullerâ€™s I have had I had expected more from this. Good aftertaste though. Wouldnâ€™t buy again', 'Aroma', '5', 'Appearance', '4', 'Flavor', '6', 'Mouthfeel', '3', 'Overall', '13']

['Thylacine(526)', 'ğŸ‡¦ğŸ‡ºTasmania, Australia', '3.9April 6, 2008', 'Bottle - Clear copper with thin off white head. Medium carbonation. Very smooth and well balanced. Long bitter finish. An excellent drop!', 'Aroma', '6', 'Appearance', '4', 'Flavor', '8', 'Mouthfeel', '3', 'Overall', '18']

In [14]:
# ë¶„ë¦¬ëœ ìŠ¤íŠ¸ë§ ê°’ í™•ì¸ -> Listë¡œ ë³€í™˜ë¨
tmp['ë§¥ì£¼ì •ë³´'].iloc[0]

['hopihalido(1,454)',
 'ğŸ‡©ğŸ‡ªHamburg, Germany',
 '1.2December 19, 2020',
 'AR: hopfig, unangenehm, ',
 'AP: klares goldgelb',
 'TA: malzig, brotig,â€¦',
 'Show more',
 'CAN',
 'Aroma',
 '2',
 'Appearance',
 '1',
 'Flavor',
 '2',
 'Mouthfeel',
 '2',
 'Overall',
 '5']

In [15]:
# ë§¥ì£¼ ì •ë³´ì— ì¢‹ì•„ìš” ìˆ˜ê°€ í¬í•¨ëœ ë¦¬ìŠ¤íŠ¸ë„ ìˆìŒ
tmp['ë§¥ì£¼ì •ë³´'].iloc[10]

['vladeath(1,853)',
 'ğŸ‡·ğŸ‡ºRussia',
 '2.5July 4, 2020',
 'Mediocre German pils. Golden color foam quickly leaves. Malt, grain, some hops at the finish.',
 'CAN',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '5',
 'Mouthfeel',
 '2',
 'Overall',
 '10']

In [16]:
# ë§¥ì£¼ ì •ë³´ ë¦¬ìŠ¤íŠ¸ ê¸¸ì´ ì¶œë ¥
for i in range(10):
    print(len(tmp['ë§¥ì£¼ì •ë³´'].iloc[i]), end=' ')

18 15 16 15 14 16 14 17 15 16

In [17]:
# ë§¥ì£¼ ì •ë³´ ë¦¬ìŠ¤íŠ¸ ê¸¸ì´ ì €ì¥
tmp['ê¸¸ì´'] = tmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : len(x))

In [18]:
tmp.head(3)

                ë§¥ì£¼ì´ë¦„                                               ë§¥ì£¼ì •ë³´  ê¸¸ì´
0  5,0 Original Pils  [hopihalido(1,454), ğŸ‡©ğŸ‡ªHamburg, Germany, 1.2Dec...  18
1  5,0 Original Pils  [AndreiProdan(213), ğŸ‡²ğŸ‡©Rautel, Moldova, 2.4Dece...  15
2  5,0 Original Pils  [Badylatko(469), ğŸ‡µğŸ‡±Poland, 2.1September 24, 20...  16

In [19]:
print('ìµœì†Œê°’', min(tmp['ê¸¸ì´']))
print('ìµœëŒ€ê°’', max(tmp['ê¸¸ì´']))

ìµœì†Œê°’ 12
ìµœëŒ€ê°’ 19

In [20]:
long19 = tmp[tmp['ê¸¸ì´'] == 19]
long18 = tmp[tmp['ê¸¸ì´'] == 18]
long17 = tmp[tmp['ê¸¸ì´'] == 17]
long16 = tmp[tmp['ê¸¸ì´'] == 16]
long15 = tmp[tmp['ê¸¸ì´'] == 15]
long14 = tmp[tmp['ê¸¸ì´'] == 14]
long13 = tmp[tmp['ê¸¸ì´'] == 13]

In [21]:
# 0,1,2,3ë²ˆì§¸ ê·¸ë¦¬ê³  ë’¤ì—ì„œ 10ê°œ ì¶”ì¶œí•˜ë©´ ë¨
long19['ë§¥ì£¼ì •ë³´'].iloc[0]

['ophone(1,379)',
 'ğŸ‡±ğŸ‡ºLuxembourg',
 '3.2January 9, 2020',
 'Having one at the Tankstelle pub in Cologne.',
 'Clear golden with a thin head. ',
 'Bitter, hoppy smell. Taste of a very common beer thatâ€¦',
 'Show more',
 'TAP',
 '@ Tankstelle KÃ¶ln',
 'Aroma',
 '7',
 'Appearance',
 '2',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '14']

In [22]:
# 0, 1, 2, 3 ê·¸ë¦¬ê³  ë’¤ì—ì„œ 10ê°œ
long18['ë§¥ì£¼ì •ë³´'].iloc[0]

['hopihalido(1,454)',
 'ğŸ‡©ğŸ‡ªHamburg, Germany',
 '1.2December 19, 2020',
 'AR: hopfig, unangenehm, ',
 'AP: klares goldgelb',
 'TA: malzig, brotig,â€¦',
 'Show more',
 'CAN',
 'Aroma',
 '2',
 'Appearance',
 '1',
 'Flavor',
 '2',
 'Mouthfeel',
 '2',
 'Overall',
 '5']

In [23]:
s_list = long19['ë§¥ì£¼ì •ë³´'].iloc[0]
s_list

['ophone(1,379)',
 'ğŸ‡±ğŸ‡ºLuxembourg',
 '3.2January 9, 2020',
 'Having one at the Tankstelle pub in Cologne.',
 'Clear golden with a thin head. ',
 'Bitter, hoppy smell. Taste of a very common beer thatâ€¦',
 'Show more',
 'TAP',
 '@ Tankstelle KÃ¶ln',
 'Aroma',
 '7',
 'Appearance',
 '2',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '14']

In [24]:
# ì•ì—ì„œë¶€í„° 0,1,2,3ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œ + ë’¤ì—ì„œë¶€í„° 10ê°œ ìš”ì†Œ í•©
s_list = s_list[:4] + s_list[:-11:-1]
s_list

['ophone(1,379)',
 'ğŸ‡±ğŸ‡ºLuxembourg',
 '3.2January 9, 2020',
 'Having one at the Tankstelle pub in Cologne.',
 '14',
 'Overall',
 '3',
 'Mouthfeel',
 '6',
 'Flavor',
 '2',
 'Appearance',
 '7',
 'Aroma']

## ì „ì²˜ë¦¬ 2ë‹¨ê³„ - ì¢‹ì•„ìš” ìˆ˜ ì‚­ì œí•˜ê¸°

In [38]:
ttmp = tmp.copy()
ttmp.head(3)

                ë§¥ì£¼ì´ë¦„                                               ë§¥ì£¼ì •ë³´  ê¸¸ì´
0  5,0 Original Pils  [hopihalido(1,454), ğŸ‡©ğŸ‡ªHamburg, Germany, 1.2Dec...  18
1  5,0 Original Pils  [AndreiProdan(213), ğŸ‡²ğŸ‡©Rautel, Moldova, 2.4Dece...  15
2  5,0 Original Pils  [Badylatko(469), ğŸ‡µğŸ‡±Poland, 2.1September 24, 20...  16

In [39]:
for i in range(0, 3):
    print(ttmp['ë§¥ì£¼ì •ë³´'].iloc[i])

['hopihalido(1,454)', 'ğŸ‡©ğŸ‡ªHamburg, Germany', '1.2December 19, 2020', 'AR: hopfig, unangenehm, ', 'AP: klares goldgelb', 'TA: malzig, brotig,â€¦', 'Show more', 'CAN', 'Aroma', '2', 'Appearance', '1', 'Flavor', '2', 'Mouthfeel', '2', 'Overall', '5']
['AndreiProdan(213)', 'ğŸ‡²ğŸ‡©Rautel, Moldova', '2.4December 18, 2020', 'AromÄƒ dulce de malÅ£, cereale. Gust uÅŸor amar de malÅ£, cu post gust dulce.Nimic deosebit', 'CAN', 'Aroma', '5', 'Appearance', '2', 'Flavor', '5', 'Mouthfeel', '2', 'Overall', '10']
['Badylatko(469)', 'ğŸ‡µğŸ‡±Poland', '2.1September 24, 2020', 'Z wyglÄ…du ok, jak to pils, bez specjalnych udziwnieÅ„, ale teÅ¼ i efektÃ³w specjalnych. Aromat to sÅ‚ody, ziemistoÅ›Ä‡, siano, lekko trawa, karmel. Smak spodziewaÅ‚em siÄ™ i Å¼yczyÅ‚bymâ€¦', 'Show more', 'CAN', 'Aroma', '4', 'Appearance', '2', 'Flavor', '4', 'Mouthfeel', '3', 'Overall', '8']

In [40]:
# ë§¥ì£¼ì •ë³´ ë¦¬ìŠ¤íŠ¸ ì¶œë ¥ : ì¢‹ì•„ìš” ìˆ˜ê°€ ê¸°ë¡ëœ ìœ ì € ì •ë³´
ttmp['ë§¥ì£¼ì •ë³´'].iloc[10]

['vladeath(1,853)',
 'ğŸ‡·ğŸ‡ºRussia',
 '2.5July 4, 2020',
 'Mediocre German pils. Golden color foam quickly leaves. Malt, grain, some hops at the finish.',
 'CAN',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '5',
 'Mouthfeel',
 '2',
 'Overall',
 '10']

In [41]:
# ë§¨ ë’¤ì˜ ì¢‹ì•„ìš” ìˆ˜ ì œê±° ë°©ë²•
tlist = ttmp['ë§¥ì£¼ì •ë³´'].iloc[10][:-1]
tlist

['vladeath(1,853)',
 'ğŸ‡·ğŸ‡ºRussia',
 '2.5July 4, 2020',
 'Mediocre German pils. Golden color foam quickly leaves. Malt, grain, some hops at the finish.',
 'CAN',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '5',
 'Mouthfeel',
 '2',
 'Overall']

In [42]:
# ì „ì²´ ë°ì´í„°í”„ë ˆì„ì—ì„œ ì¢‹ì•„ìš”ê°€ 1ê°œì¸ ê²ƒ ì°¾ì•„ì„œ ë§¨ ë’¤ì— ê²ƒ ì‚­ì œ
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : x if x[-2]=='Overall' else x[:-1] )

In [43]:
# ë§¥ì£¼ì •ë³´ì—ì„œ 0,1,2,3ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œì™€ ë’¤ì—ì„œë¶€í„° 10ê°œì˜ ë¦¬ìŠ¤íŠ¸ìš”ì†Œ(í‰ì ê°’ë“¤)ì¶”ì¶œ
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : x[:4]+x[:-11:-1])

In [44]:
# ì¢‹ì•„ìš” ìˆ˜ê°€ ì •ìƒì ìœ¼ë¡œ ì‚­ì œë¨
ttmp['ë§¥ì£¼ì •ë³´'].iloc[10]

['vladeath(1,853)',
 'ğŸ‡·ğŸ‡ºRussia',
 '2.5July 4, 2020',
 'Mediocre German pils. Golden color foam quickly leaves. Malt, grain, some hops at the finish.',
 '10',
 'Overall',
 '2',
 'Mouthfeel',
 '5',
 'Flavor',
 '3',
 'Appearance',
 '5',
 'Aroma']

In [45]:
# ë§¥ì£¼ ì •ë³´ê°’ ì¶œë ¥
for i in range(8,11):
    print(ttmp['ë§¥ì£¼ì •ë³´'].iloc[i], '\n')

['HighSparkDiesel(597)', 'ğŸ‡¹ğŸ‡¼Taipei City, Taiwan', '1.3May 3, 2020', "A 500 ml. can from A-Mart in Jingmei, labelled '5,0 Original Craft'. Aroma: slightly sour yeast. Appearance: honey amber, one finger off-white head. Palate: light-bodied and franklyâ€¦", '2', 'Overall', '1', 'Mouthfeel', '2', 'Flavor', '3', 'Appearance', '5', 'Aroma']

['bilcho1(1,406)', 'ğŸ‡§ğŸ‡¬Ruse, Bulgaria', '2.6January 12, 2020', "500ml can, as 5,0 Original Craft Beer from Carrefour, Baneasa, drunk at home on a mild January evening. Clear pale gold, head and lacing that didn't last but masses ofâ€¦", '11', 'Overall', '5', 'Mouthfeel', '5', 'Flavor', '3', 'Appearance', '2', 'Aroma']

['vladeath(1,853)', 'ğŸ‡·ğŸ‡ºRussia', '2.5July 4, 2020', 'Mediocre German pils. Golden color foam quickly leaves. Malt, grain, some hops at the finish.', '10', 'Overall', '2', 'Mouthfeel', '5', 'Flavor', '3', 'Appearance', '5', 'Aroma']

## ì „ì²˜ë¦¬ 3ë‹¨ê³„ - ì‹¤ì œ ì»¬ëŸ¼ìœ¼ë¡œ ë°ì´í„° ì¶”ì¶œ

In [48]:
ttmp['ë§¥ì£¼ì •ë³´'].iloc[0]

['hopihalido(1,454)',
 'ğŸ‡©ğŸ‡ªHamburg, Germany',
 '1.2December 19, 2020',
 'AR: hopfig, unangenehm, ',
 '5',
 'Overall',
 '2',
 'Mouthfeel',
 '2',
 'Flavor',
 '1',
 'Appearance',
 '2',
 'Aroma']

In [51]:
ttmp

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,ê¸¸ì´,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"5,0 Original Pils","[ğŸ‡©ğŸ‡ªHamburg, Germany, 1.2December 19, 2020, AR:...",3,"hopihalido(1,454)",2,1,2,2,5
1,"5,0 Original Pils","[ğŸ‡²ğŸ‡©Rautel, Moldova, 2.4December 18, 2020, Arom...",3,AndreiProdan(213),5,2,5,2,10
2,"5,0 Original Pils","[ğŸ‡µğŸ‡±Poland, 2.1September 24, 2020, Z wyglÄ…du ok...",3,Badylatko(469),4,2,4,3,8
3,"5,0 Original Pils","[ğŸ‡·ğŸ‡´Cluj-Napoca, Romania, 2.1August 11, 2020, I...",3,qt01(451),-,-,-,-,-
4,"5,0 Original Pils","[ğŸ‡³ğŸ‡±Netherlands, 3.4August 2, 2020, Can at my h...",3,"SVD(3,986)",6,3,6,3,16
...,...,...,...,...,...,...,...,...,...
3,Queen's Ale Blonde Type,"[ğŸ‡¦ğŸ‡ºGlen Innes, Australia, 3.4August 14, 2015, ...",3,"TedE(2,324)",6,2,7,4,15
4,Queen's Ale Blonde Type,"[ğŸ‡¯ğŸ‡µKyoto, Japan, 3.1May 19, 2015, Queenâ€™s Ale ...",3,"KansaiBeerLvrs(7,283)",7,4,6,4,10
5,Queen's Ale Blonde Type,"[ğŸ‡ºğŸ‡¸Fort Collins, United States, 3.0May 3, 2014...",3,"cubs(10,772)",6,4,6,4,10
6,Queen's Ale Blonde Type,"[ğŸ‡ºğŸ‡¸East Lansing, United States, 2.9May 3, 2014...",3,"arminjewell(9,756)",5,4,6,3,11
7,Queen's Ale Blonde Type,"[ğŸ‡ºğŸ‡¸Corbett, United States, 3.1February 19, 201...",3,"Fatehunter(3,190)",7,4,4,3,13

In [50]:
# ì¶”ê°€ë§¥ì£¼ë¦¬ìŠ¤íŠ¸ëŠ” ì´ê±¸ë¡œ!
ttmp['ID'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-10])

# ë¦¬ìŠ¤íŠ¸ì˜ 1,2,3ë²ˆì§¸ ìš”ì†Œë§Œ(í‰ì ë‚ ì§œ or ì´ìƒí•œ ê°’) ë½‘ì•„ì˜¤ê¸°
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x:x[1:4])
ttmp['ê¸¸ì´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x:len(x))

In [35]:
# ë§¨ ì²«ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œì— ID ì €ì¥
# ê·¸ ë’¤ë¡œëŠ” ë’¤ì—ì„œë¶€í„° ê° í‰ê°€ê°’ ì €ì¥
ttmp['ID'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-10])

# ë¦¬ìŠ¤íŠ¸ì˜ 1,2,3ë²ˆì§¸ ìš”ì†Œë§Œ(í‰ì ë‚ ì§œ or ì´ìƒí•œ ê°’) ë½‘ì•„ì˜¤ê¸°
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x:x[1:4])
ttmp['ê¸¸ì´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x:len(x))

IndexError: list index out of range

In [52]:
# ê²°ê³¼ í™•ì¸
ttmp.head(3)

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,ê¸¸ì´,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"5,0 Original Pils","[ğŸ‡©ğŸ‡ªHamburg, Germany, 1.2December 19, 2020, AR:...",3,"hopihalido(1,454)",2,1,2,2,5
1,"5,0 Original Pils","[ğŸ‡²ğŸ‡©Rautel, Moldova, 2.4December 18, 2020, Arom...",3,AndreiProdan(213),5,2,5,2,10
2,"5,0 Original Pils","[ğŸ‡µğŸ‡±Poland, 2.1September 24, 2020, Z wyglÄ…du ok...",3,Badylatko(469),4,2,4,3,8

## ì „ì²˜ë¦¬ 4ë‹¨ê³„ - êµ­ì ì´ ì—†(ìˆ)ëŠ” ë°ì´í„°ë¡œë¶€í„° í‰ì ,ë‚ ì§œ ì¶”ì¶œ

In [53]:
# 0, 1, 2ë²ˆì§¸ ìš”ì†Œ ì¤‘ ë½‘ì•„ë‚¼ ë°ì´í„°ì˜ ìœ„ì¹˜ê°€ ë¶ˆë¶„ëª…
ttmp['ë§¥ì£¼ì •ë³´'].iloc[0]

['ğŸ‡©ğŸ‡ªHamburg, Germany', '1.2December 19, 2020', 'AR: hopfig, unangenehm, ']

In [54]:
# 0, 1, 2ë²ˆì§¸ ìš”ì†Œ ì¤‘ ë½‘ì•„ë‚¼ ë°ì´í„°ì˜ ìœ„ì¹˜ê°€ ë¶ˆë¶„ëª…
for i in range(5):
    print(ttmp['ë§¥ì£¼ì •ë³´'].iloc[i], '\n')

['ğŸ‡©ğŸ‡ªHamburg, Germany', '1.2December 19, 2020', 'AR: hopfig, unangenehm, ']

['ğŸ‡²ğŸ‡©Rautel, Moldova', '2.4December 18, 2020', 'AromÄƒ dulce de malÅ£, cereale. Gust uÅŸor amar de malÅ£, cu post gust dulce.Nimic deosebit']

['ğŸ‡µğŸ‡±Poland', '2.1September 24, 2020', 'Z wyglÄ…du ok, jak to pils, bez specjalnych udziwnieÅ„, ale teÅ¼ i efektÃ³w specjalnych. Aromat to sÅ‚ody, ziemistoÅ›Ä‡, siano, lekko trawa, karmel. Smak spodziewaÅ‚em siÄ™ i Å¼yczyÅ‚bymâ€¦']

['ğŸ‡·ğŸ‡´Cluj-Napoca, Romania', '2.1August 11, 2020', 'It is a decent beer with a light bitter taste. Not bad, but they had to lie about it being craft and about them respecting the purity law while using hop extract.']

['ğŸ‡³ğŸ‡±Netherlands', '3.4August 2, 2020', 'Can at my hotel room, golden beer, small head. Aroma is malt, grain, taste is the same, bitter, sweet, ok. Not much special.']

In [55]:
# íŠ¹ì´ì  í™•ì¸ : 0ë²ˆì§¸, 1ë²ˆì§¸, 2ë²ˆì§¸ ìš”ì†Œ ì¤‘ ë½‘ì•„ë‚¼ ë°ì´í„°ì˜ ìœ„ì¹˜ê°€ ë¶ˆë¶„ëª…
for i in range(75252, 75255):
    print(ttmp['ë§¥ì£¼ì •ë³´'].iloc[i], '\n\n')

['ğŸ‡ºğŸ‡¸SF Bay Area, United States', '3.3April 8, 2008', 'Pours a clear copper color with very thin and very light colored head. Nose is almost nonexistent. Flavor is a bit malty in the front, bitter in the mid, and dry and a slightlyâ€¦']


['ğŸ‡ºğŸ‡¸The World of Beer, United States', '3.1April 6, 2008', 'on tap, nothing spectacular, I was disappointed after the other Fullerâ€™s I have had I had expected more from this. Good aftertaste though. Wouldnâ€™t buy again']


['ğŸ‡¦ğŸ‡ºTasmania, Australia', '3.9April 6, 2008', 'Bottle - Clear copper with thin off white head. Medium carbonation. Very smooth and well balanced. Long bitter finish. An excellent drop!']

In [56]:
# 4.0+ì•ŒíŒŒë²³ìœ¼ë¡œ ì²˜ë¦¬ëœ í…ìŠ¤íŠ¸ë¥¼ ë½‘ì•„ë‚´ê¸° ìœ„í•´ ì •ê·œí‘œí˜„ì‹ ì‚¬ìš©

import re

# ex) 4.0December 28, 2020 ì¶”ì¶œ
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

In [57]:
# ì •ê·œí‘œí˜„ì‹ì— í•´ë‹¹í•˜ëŠ” ë¬¸ìì—´ê³¼ ë§¤ì¹­ë˜ëŠ” ê²½ìš° í•´ë‹¹ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œë¥¼ ë§¥ì£¼ì •ë³´ì— ì €ì¥
# reg.match()ëŠ” re.compile()ì˜ ì •ê·œí‘œí˜„ì‹ê³¼ ì¼ì¹˜í•˜ëŠ” ë¬¸ìì—´ì„ ë°˜í™˜, ì•„ë‹ˆë©´ Falseë¥¼ ë°˜í™˜
# ì¤‘ì²© ì‚¼í•­ í‘œí˜„ì‹ ì‚¬ìš© : https://ooyoung.tistory.com/116

ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[0] if reg.match(x[0]) else 
                                  (x[1] if reg.match(x[1]) else x[2]))

In [58]:
# ê²°ê³¼ í™•ì¸
ttmp.head()

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,ê¸¸ì´,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"5,0 Original Pils","1.2December 19, 2020",3,"hopihalido(1,454)",2,1,2,2,5
1,"5,0 Original Pils","2.4December 18, 2020",3,AndreiProdan(213),5,2,5,2,10
2,"5,0 Original Pils","2.1September 24, 2020",3,Badylatko(469),4,2,4,3,8
3,"5,0 Original Pils","2.1August 11, 2020",3,qt01(451),-,-,-,-,-
4,"5,0 Original Pils","3.4August 2, 2020",3,"SVD(3,986)",6,3,6,3,16

In [59]:
# íŠ¹ì´ì  í™•ì¸ : ì›í•˜ëŠ” í‰ì  + ë‚ ìê°’ì´ ì •ìƒì ìœ¼ë¡œ ì¶”ì¶œë¨
for i in range(75250, 75260):
    print(ttmp['ë§¥ì£¼ì •ë³´'].iloc[i])

3.0April 12, 2008
3.3April 10, 2008
3.3April 8, 2008
3.1April 6, 2008
3.9April 6, 2008
3.9April 7, 2008
3.0April 6, 2008
3.4April 3, 2008
3.3April 2, 2008
3.5March 31, 2008

## ì „ì²˜ë¦¬ 5ë‹¨ê³„ - í‰ì ê³¼ ë‚ ì§œ ë°ì´í„° ë¶„ë¦¬

In [60]:
# í‰ì ì€ 0ë²ˆì§¸ë¶€í„° 3ë²ˆì§¸, ë‚ ì§œëŠ” ê·¸ ì´í›„ ë¬¸ìì—´ë¡œ ì²˜ë¦¬
ttmp['í‰ì '] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : x[:3])
ttmp['ë‚ ì§œ'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : x[3:])

In [61]:
ttmp.head(3)

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,ê¸¸ì´,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,í‰ì,ë‚ ì§œ
0,"5,0 Original Pils","1.2December 19, 2020",3,"hopihalido(1,454)",2,1,2,2,5,1.2,"December 19, 2020"
1,"5,0 Original Pils","2.4December 18, 2020",3,AndreiProdan(213),5,2,5,2,10,2.4,"December 18, 2020"
2,"5,0 Original Pils","2.1September 24, 2020",3,Badylatko(469),4,2,4,3,8,2.1,"September 24, 2020"

In [62]:
ttmp.columns

Index(['ë§¥ì£¼ì´ë¦„', 'ë§¥ì£¼ì •ë³´', 'ê¸¸ì´', 'ID', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', 'í‰ì ', 'ë‚ ì§œ'],
      dtype='object')

In [63]:
# í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì¶”ì¶œ
ttmp = ttmp[['ë§¥ì£¼ì •ë³´', 'ë§¥ì£¼ì´ë¦„', 'ID', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', 'í‰ì ', 'ë‚ ì§œ']]

In [64]:
ttmp.columns = ['ë§¥ì£¼ì •ë³´', 'ë§¥ì£¼ì´ë¦„', 'ì•„ì´ë””', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', 'í‰ì ', 'ë‚ ì§œ']

In [65]:
ttmp.head(3)

,ë§¥ì£¼ì •ë³´,ë§¥ì£¼ì´ë¦„,ì•„ì´ë””,Aroma,Appearance,Flavor,Mouthfeel,Overall,í‰ì,ë‚ ì§œ
0,"1.2December 19, 2020","5,0 Original Pils","hopihalido(1,454)",2,1,2,2,5,1.2,"December 19, 2020"
1,"2.4December 18, 2020","5,0 Original Pils",AndreiProdan(213),5,2,5,2,10,2.4,"December 18, 2020"
2,"2.1September 24, 2020","5,0 Original Pils",Badylatko(469),4,2,4,3,8,2.1,"September 24, 2020"

In [66]:
ttmp.head(3)

,ë§¥ì£¼ì •ë³´,ë§¥ì£¼ì´ë¦„,ì•„ì´ë””,Aroma,Appearance,Flavor,Mouthfeel,Overall,í‰ì,ë‚ ì§œ
0,"1.2December 19, 2020","5,0 Original Pils","hopihalido(1,454)",2,1,2,2,5,1.2,"December 19, 2020"
1,"2.4December 18, 2020","5,0 Original Pils",AndreiProdan(213),5,2,5,2,10,2.4,"December 18, 2020"
2,"2.1September 24, 2020","5,0 Original Pils",Badylatko(469),4,2,4,3,8,2.1,"September 24, 2020"

In [67]:
# ì¢‹ì•„ìš” ìˆ˜ê°€ í‘œì‹œëœ íŠ¹ì´ì  ë°ì´í„° ë‹¤ì‹œ í•œ ë²ˆ í™•ì¸
ttmp[ttmp['ì•„ì´ë””'].str.contains('Viper666.Qc')].head(3)

,ë§¥ì£¼ì •ë³´,ë§¥ì£¼ì´ë¦„,ì•„ì´ë””,Aroma,Appearance,Flavor,Mouthfeel,Overall,í‰ì,ë‚ ì§œ
3,"3.0August 10, 2009",Gaffel KÃ¶lsch,"Viper666.Qc(10,510)",5,3,6,3,13,3.0,"August 10, 2009"
11,"2.8January 15, 2013",DAB Original,"Viper666.Qc(10,510)",6,3,5,3,11,2.8,"January 15, 2013"
9,"2.7February 23, 2013",LÃ¶wenbrÃ¤u MÃ¼nchen Original,"Viper666.Qc(10,510)",5,3,5,3,11,2.7,"February 23, 2013"

In [68]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 319129 entries, 0 to 7
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ë§¥ì£¼ì •ë³´        319129 non-null  object
 1   ë§¥ì£¼ì´ë¦„        319129 non-null  object
 2   ì•„ì´ë””         319129 non-null  object
 3   Aroma       319129 non-null  object
 4   Appearance  319129 non-null  object
 5   Flavor      319129 non-null  object
 6   Mouthfeel   319129 non-null  object
 7   Overall     319129 non-null  object
 8   í‰ì           319129 non-null  object
 9   ë‚ ì§œ          319129 non-null  object
dtypes: object(10)
memory usage: 26.8+ MB

# ë¬¸ì œ ë°œìƒ : í‰ì  ë°ì´í„° ì¶”ì¶œì´ ì˜ëª»ë¨ --> í•´ê²°

### 1. ì•„ì´ë””, êµ­ì , í‰ì +ë‚ ì§œ, ë¦¬ë·° ë¬¸ì œ ë°œìƒ
### ì•„ì´ë””, êµ­ì , ì´ìƒí•œê°’, í‰ì +ë‚ ì§œ, ë¦¬ë·° ìˆœì¸ ë°ì´í„° ë°œìƒ --> 4ë²ˆì§¸ê¹Œì§€ ê³ ë ¤í•¨ìœ¼ë¡œì¨ í•´ê²°

### 2. ì„¸ë¶€ ë¦¬ë·° í‰ì ì´ '-'ì¸ ê°’ ë•Œë¬¸ì— ì˜¤ë¥˜ ë°œìƒ -> ì‚­ì œí•¨ìœ¼ë¡œì¨ í•´ê²°

In [69]:
# ë¬¸ì œ ë°œìƒ : í‰ì  ë°ì´í„° ì¶”ì¶œì´ ì˜ëª»ë¨ --> í•´ê²°
ttmp.iloc[75253]

ë§¥ì£¼ì •ë³´                          3.1April 6, 2008
ë§¥ì£¼ì´ë¦„          Fuller's London Pride (Filtered)
ì•„ì´ë””                           Haslinger(1,011)
Aroma                                        5
Appearance                                   4
Flavor                                       6
Mouthfeel                                    3
Overall                                     13
í‰ì                                          3.1
ë‚ ì§œ                               April 6, 2008
Name: 9, dtype: object

In [70]:
ttmp.iloc[9]

ë§¥ì£¼ì •ë³´          2.6January 12, 2020
ë§¥ì£¼ì´ë¦„            5,0 Original Pils
ì•„ì´ë””                bilcho1(1,406)
Aroma                           2
Appearance                      3
Flavor                          5
Mouthfeel                       5
Overall                        11
í‰ì                             2.6
ë‚ ì§œ               January 12, 2020
Name: 9, dtype: object

In [71]:
# ë¬¸ì œ ë°œìƒ : ì„¸ë¶€ ë¦¬ë·° í‰ì ì´ '-'ì¸ ê²½ìš° ë°œìƒ
ttmp[ttmp['Aroma']=='-']

,ë§¥ì£¼ì •ë³´,ë§¥ì£¼ì´ë¦„,ì•„ì´ë””,Aroma,Appearance,Flavor,Mouthfeel,Overall,í‰ì,ë‚ ì§œ
3,"2.1August 11, 2020","5,0 Original Pils",qt01(451),-,-,-,-,-,2.1,"August 11, 2020"
14,"1.0May 27, 2019","5,0 Original Pils",so1ji(16),-,-,-,-,-,1.0,"May 27, 2019"
11,"3.3August 1, 2018","5,0 Original Pils",Brokkie(757),-,-,-,-,-,3.3,"August 1, 2018"
13,"2.6June 28, 2019",Gaffel KÃ¶lsch,muenzo(70),-,-,-,-,-,2.6,"June 28, 2019"
10,"4.0March 17, 2019",Gaffel KÃ¶lsch,ruslan_maximov(0),-,-,-,-,-,4.0,"March 17, 2019"
...,...,...,...,...,...,...,...,...,...,...
128,"2.5May 27, 2018",Warsteiner Premium Verum,haldex(89),-,-,-,-,-,2.5,"May 27, 2018"
178,"4.0September 29, 2017",Warsteiner Premium Verum,PilsnerMeister42(17),-,-,-,-,-,4.0,"September 29, 2017"
188,"2.6September 1, 2017",Warsteiner Premium Verum,pj007(9),-,-,-,-,-,2.6,"September 1, 2017"
197,"2.0August 7, 2017",Warsteiner Premium Verum,"angel77(5,902)",-,-,-,-,-,2.0,"August 7, 2017"
199,"1.8July 26, 2017",Warsteiner Premium Verum,"KoNrRiI(2,146)",-,-,-,-,-,1.8,"July 26, 2017"

In [72]:
# ì„¸ë¶€ ë¦¬ë·° ê°’ì´ '-'ê°€ ì•„ë‹Œ ë°ì´í„°ë§Œ ì €ì¥
ttmp = ttmp[ttmp['Aroma']!='-']
ttmp = ttmp[ttmp['Appearance']!='-']
ttmp = ttmp[ttmp['Flavor']!='-']
ttmp = ttmp[ttmp['Mouthfeel']!='-']
ttmp = ttmp[ttmp['Overall']!='-']

In [73]:
# ë¬¸ì œ ë°œìƒ : ì„¸ë¶€ ë¦¬ë·° í‰ì ì´ '-'ì¸ ê²½ìš° ë°œìƒ --> í•´ê²°
ttmp[ttmp['Aroma']=='-']

Empty DataFrame
Columns: [ë§¥ì£¼ì •ë³´, ë§¥ì£¼ì´ë¦„, ì•„ì´ë””, Aroma, Appearance, Flavor, Mouthfeel, Overall, í‰ì , ë‚ ì§œ]
Index: []

In [74]:
# ìˆ˜ì¹˜í˜• ë°ì´í„°ëŠ” ì‹¤ìˆ˜ë¡œ ë³€í™˜ : pd.to_numeric() í•¨ìˆ˜ ì‚¬ìš©
ttmp['í‰ì '] = pd.to_numeric(ttmp['í‰ì '])
ttmp['Aroma'] = pd.to_numeric(ttmp['Aroma'])
ttmp['Appearance'] = pd.to_numeric(ttmp['Appearance'])
ttmp['Flavor'] = pd.to_numeric(ttmp['Flavor'])
ttmp['Mouthfeel'] = pd.to_numeric(ttmp['Mouthfeel'])
ttmp['Overall'] = pd.to_numeric(ttmp['Overall'])

In [75]:
# ì¤‘ë³µëœ í–‰ë“¤ì„ ì œê±°í•©ë‹ˆë‹¤.
ttmp.drop_duplicates(keep='first', inplace=True)

In [76]:
# ìµœì¢… ë°ì´í„° í™•ì¸
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256259 entries, 0 to 7
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ë§¥ì£¼ì •ë³´        256259 non-null  object
 1   ë§¥ì£¼ì´ë¦„        256259 non-null  object
 2   ì•„ì´ë””         256259 non-null  object
 3   Aroma       256259 non-null  int64
 4   Appearance  256259 non-null  int64
 5   Flavor      256259 non-null  int64
 6   Mouthfeel   256259 non-null  int64
 7   Overall     256259 non-null  int64
 8   í‰ì           256259 non-null  float64
 9   ë‚ ì§œ          256259 non-null  object
dtypes: float64(1), int64(5), object(4)
memory usage: 21.5+ MB

In [77]:
# ìµœì¢… ë°ì´í„° ê°’ ë¶„í¬ í™•ì¸
ttmp.describe()

,Aroma,Appearance,Flavor,Mouthfeel,Overall,í‰ì
count,256259.000000,256259.000000,256259.000000,256259.000000,256259.000000,256259.000000
mean,5.147054,3.146044,5.419349,2.887766,10.913849,2.751933
std,1.948432,0.982079,1.943552,0.948167,4.112377,0.942866
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.500000
25%,4.000000,2.000000,4.000000,2.000000,8.000000,2.100000
50%,5.000000,3.000000,5.000000,3.000000,11.000000,2.800000
75%,7.000000,4.000000,7.000000,3.000000,14.000000,3.400000
max,10.000000,5.000000,10.000000,5.000000,20.000000,140.000000

In [80]:
# í‰ì ì´ ë¹„ì •ìƒì ìœ¼ë¡œ í° ê°’ ì œê±°
ttmp = ttmp[ttmp['í‰ì '] < 5.1]

In [84]:
ttmp.describe()

,Aroma,Appearance,Flavor,Mouthfeel,Overall,í‰ì
count,256258.000000,256258.000000,256258.000000,256258.000000,256258.000000,256258.000000
mean,5.147043,3.146036,5.419335,2.887758,10.913813,2.751398
std,1.948427,0.982074,1.943543,0.948159,4.112346,0.903045
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.500000
25%,4.000000,2.000000,4.000000,2.000000,8.000000,2.100000
50%,5.000000,3.000000,5.000000,3.000000,11.000000,2.800000
75%,7.000000,4.000000,7.000000,3.000000,14.000000,3.400000
max,10.000000,5.000000,10.000000,5.000000,20.000000,5.000000

In [83]:
ttmp.columns

Index(['ë§¥ì£¼ì •ë³´', 'ë§¥ì£¼ì´ë¦„', 'ì•„ì´ë””', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel',
       'Overall', 'í‰ì ', 'ë‚ ì§œ'],
      dtype='object')

In [86]:
ttmp = ttmp[['ì•„ì´ë””', 'ë§¥ì£¼ì´ë¦„', 'ë‚ ì§œ', 'í‰ì ', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel',
       'Overall']]

In [87]:
ttmp.columns = ['ì•„ì´ë””', 'ë§¥ì£¼', 'ë‚ ì§œ', 'í‰ì ', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel',
       'Overall']

In [152]:
# ë°ì´í„°í”„ë ˆì„ ë³‘í•©ì„ ìœ„í•´ í¸ì˜ì ë„ ì¶”ê°€
ttmp['í¸ì˜ì '] = ''

In [160]:
# ttmp.columns = ['ë§¥ì£¼', 'ì•„ì´ë””', 'ë‚ ì§œ', 'í‰ì ', 'í¸ì˜ì ', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel',
#        'Overall']

In [167]:
# ttmp = ttmp[['ì•„ì´ë””', 'ë§¥ì£¼', 'ë‚ ì§œ', 'í‰ì ', 'í¸ì˜ì ', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel',
#        'Overall']]

In [88]:
ttmp.head(3)

,ì•„ì´ë””,ë§¥ì£¼,ë‚ ì§œ,í‰ì,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"hopihalido(1,454)","5,0 Original Pils","December 19, 2020",1.2,2,1,2,2,5
1,AndreiProdan(213),"5,0 Original Pils","December 18, 2020",2.4,5,2,5,2,10
2,Badylatko(469),"5,0 Original Pils","September 24, 2020",2.1,4,2,4,3,8

In [92]:
ttmp.head(5)

,ì•„ì´ë””,ë§¥ì£¼,ë‚ ì§œ,í‰ì,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"hopihalido(1,454)","5,0 Original Pils","December 19, 2020",1.2,2,1,2,2,5
1,AndreiProdan(213),"5,0 Original Pils","December 18, 2020",2.4,5,2,5,2,10
2,Badylatko(469),"5,0 Original Pils","September 24, 2020",2.1,4,2,4,3,8
4,"SVD(3,986)","5,0 Original Pils","August 2, 2020",3.4,6,3,6,3,16
5,"DoctorHU(1,495)","5,0 Original Pils","July 21, 2020",2.5,5,3,5,3,9

In [89]:
ttmp.to_csv('ë§¥ì£¼_25ë§Œê°œ_ìµœì¢….csv', encoding='utf-8')

In [169]:
ttmp.to_csv('656ê°œ_ë§¥ì£¼_ë°ì´í„°.csv', encoding='utf-8')

## ê¸°ì¡´ì— ìˆë˜ 76ê°œ ë°ì´í„°ì™€ í•©ì²´

In [170]:
beer76 = pd.read_csv('76ê°œ_ë§¥ì£¼_ë°ì´í„°.csv', encoding='utf-8', index_col=0)
beer656 = pd.read_csv('656ê°œ_ë§¥ì£¼_ë°ì´í„°.csv', encoding='utf-8', index_col=0)

In [171]:
beer76.head(3)

,ì•„ì´ë””,ë§¥ì£¼,ë‚ ì§œ,í‰ì,í¸ì˜ì,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,patjenner(3),Kloud Original Gravity,"December 31, 2020",4.0,CU GS25 7/11 ministop,9,5,7,4,15
1,"pictoman(1,959)",Kloud Original Gravity,"April 22, 2020",2.0,CU GS25 7/11 ministop,3,3,4,3,7
2,"snoworsummer(8,581)",Kloud Original Gravity,"March 7, 2020",3.0,CU GS25 7/11 ministop,6,3,6,3,12

In [172]:
beer656.head(3)

,ì•„ì´ë””,ë§¥ì£¼,ë‚ ì§œ,í‰ì,í¸ì˜ì,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"hopihalido(1,454)","5,0 Original Pils","December 19, 2020",1.2,NaN,2,1,2,2,5
1,AndreiProdan(213),"5,0 Original Pils","December 18, 2020",2.4,NaN,5,2,5,2,10
2,Badylatko(469),"5,0 Original Pils","September 24, 2020",2.1,NaN,4,2,4,3,8

In [173]:
beer = pd.concat([beer76, beer656])
beer.head(3)

,ì•„ì´ë””,ë§¥ì£¼,ë‚ ì§œ,í‰ì,í¸ì˜ì,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,patjenner(3),Kloud Original Gravity,"December 31, 2020",4.0,CU GS25 7/11 ministop,9,5,7,4,15
1,"pictoman(1,959)",Kloud Original Gravity,"April 22, 2020",2.0,CU GS25 7/11 ministop,3,3,4,3,7
2,"snoworsummer(8,581)",Kloud Original Gravity,"March 7, 2020",3.0,CU GS25 7/11 ministop,6,3,6,3,12

In [174]:
beer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278573 entries, 0 to 1
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ì•„ì´ë””         278573 non-null  object
 1   ë§¥ì£¼          278573 non-null  object
 2   ë‚ ì§œ          278573 non-null  object
 3   í‰ì           278573 non-null  float64
 4   í¸ì˜ì          76287 non-null   object
 5   Aroma       278573 non-null  int64
 6   Appearance  278573 non-null  int64
 7   Flavor      278573 non-null  int64
 8   Mouthfeel   278573 non-null  int64
 9   Overall     278573 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 23.4+ MB

In [175]:
beer.to_csv('732ê°œ_ë§¥ì£¼_ë°ì´í„°.csv', encoding='utf-8')

In [176]:
beer

,ì•„ì´ë””,ë§¥ì£¼,ë‚ ì§œ,í‰ì,í¸ì˜ì,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,patjenner(3),Kloud Original Gravity,"December 31, 2020",4.0,CU GS25 7/11 ministop,9,5,7,4,15
1,"pictoman(1,959)",Kloud Original Gravity,"April 22, 2020",2.0,CU GS25 7/11 ministop,3,3,4,3,7
2,"snoworsummer(8,581)",Kloud Original Gravity,"March 7, 2020",3.0,CU GS25 7/11 ministop,6,3,6,3,12
3,mickmac(726),Kloud Original Gravity,"February 20, 2020",2.9,CU GS25 7/11 ministop,5,4,4,4,12
4,"GuideDogSaint(2,549)",Kloud Original Gravity,"February 8, 2020",2.2,CU GS25 7/11 ministop,4,2,5,2,9
...,...,...,...,...,...,...,...,...,...,...
12,Yankovitch333(612),Pilsen (Costa Rica),"April 8, 2005",2.5,NaN,4,2,5,2,12
13,booyaatribe(453),Pilsen (Costa Rica),"January 3, 2003",1.0,NaN,2,2,2,2,2
14,"Kaya161(1,142)",Pilsen (Costa Rica),"September 25, 2002",0.9,NaN,2,1,2,1,3
0,"MartinT(10,698)",Pilsen (Costa Rica),"August 3, 2002",0.7,NaN,1,2,2,1,1
1,tico0199(1),Pilsen (Costa Rica),"January 11, 2002",3.9,NaN,10,5,10,5,9