In [2]:
import pandas as pd

In [5]:
# data = pd.read_csv('beer_rawdata.csv', encoding='utf-8', index_col=0)
data = pd.read_csv('추가맥주종합데이터.csv', encoding='utf-8', index_col=0)

In [6]:
data.head()

,맥주정보,검색이름,맥주이름
0,"hopihalido(1,454)\n🇩🇪Hamburg, Germany\n1.2Dece...","5,0 Original","5,0 Original Pils"
1,"AndreiProdan(213)\n🇲🇩Rautel, Moldova\n2.4Decem...","5,0 Original","5,0 Original Pils"
2,"Badylatko(469)\n🇵🇱Poland\n2.1September 24, 202...","5,0 Original","5,0 Original Pils"
3,"qt01(451)\n🇷🇴Cluj-Napoca, Romania\n2.1August 1...","5,0 Original","5,0 Original Pils"
4,"SVD(3,986)\n🇳🇱Netherlands\n3.4August 2, 2020\n...","5,0 Original","5,0 Original Pils"

In [7]:
data = data[['맥주이름', '맥주정보']]

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209502 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   맥주이름    209502 non-null  object
 1   맥주정보    209502 non-null  object
dtypes: object(2)
memory usage: 4.8+ MB

In [9]:
data['맥주정보'][0]

0    hopihalido(1,454)\n🇩🇪Hamburg, Germany\n1.2Dece...
0    alex_leit(11,288)\n🇧🇾Minsk, Belarus\n2.1May 7,...
0    Rubin77(6,380)\n🇧🇪Brussels, Belgium\n1.8May 7,...
0    GriZZZly(488)\n2.1July 27, 2017\nAr: pusto, la...
0    Blueshawk(464)\n🇩🇪Bad Bellingen, Germany\n0.9A...
                           ...
0    douglas88(11,589)\n🇺🇸Portland, United States\n...
0    duffman462(176)\n🇺🇸Fayetteville, United States...
0    Saarlander(1,686)\n🇩🇪Saarlouis, Germany\n1.8Oc...
0    JonR888710(999)\n🇧🇴Cochabamba, Bolivia\n1.3Aug...
0    MartinT(10,698)\n🇨🇦Montreal, Canada\n0.7August...
Name: 맥주정보, Length: 14280, dtype: object

In [10]:
data.head(3)

                맥주이름                                               맥주정보
0  5,0 Original Pils  hopihalido(1,454)\n🇩🇪Hamburg, Germany\n1.2Dece...
1  5,0 Original Pils  AndreiProdan(213)\n🇲🇩Rautel, Moldova\n2.4Decem...
2  5,0 Original Pils  Badylatko(469)\n🇵🇱Poland\n2.1September 24, 202...

In [11]:
data['맥주정보'].iloc[0]

'hopihalido(1,454)\n🇩🇪Hamburg, Germany\n1.2December 19, 2020\nAR: hopfig, unangenehm, \nAP: klares goldgelb\nTA: malzig, brotig,…\nShow more\nCAN\nAroma\n2\nAppearance\n1\nFlavor\n2\nMouthfeel\n2\nOverall\n5'

In [12]:
tmp = data.copy()

In [13]:
# \n 개행문자 기준으로 분리
tmp['맥주정보'] = tmp['맥주정보'].str.split('\n')
tmp['맥주정보']

0     [hopihalido(1,454), 🇩🇪Hamburg, Germany, 1.2Dec...
1     [AndreiProdan(213), 🇲🇩Rautel, Moldova, 2.4Dece...
2     [Badylatko(469), 🇵🇱Poland, 2.1September 24, 20...
3     [qt01(451), 🇷🇴Cluj-Napoca, Romania, 2.1August ...
4     [SVD(3,986), 🇳🇱Netherlands, 3.4August 2, 2020,...
                            ...
12    [Yankovitch333(612), 🇺🇸Baltimore, United State...
13    [booyaatribe(453), 🇺🇸Chicago, United States, 1...
14    [Kaya161(1,142), 🇺🇸San Diego, United States, 0...
0     [MartinT(10,698), 🇨🇦Montreal, Canada, 0.7Augus...
1     [tico0199(1), 🇺🇸Tampa, United States, 3.9Janua...
Name: 맥주정보, Length: 209502, dtype: object

In [14]:
tmp['맥주정보'].iloc[0]

['hopihalido(1,454)',
 '🇩🇪Hamburg, Germany',
 '1.2December 19, 2020',
 'AR: hopfig, unangenehm, ',
 'AP: klares goldgelb',
 'TA: malzig, brotig,…',
 'Show more',
 'CAN',
 'Aroma',
 '2',
 'Appearance',
 '1',
 'Flavor',
 '2',
 'Mouthfeel',
 '2',
 'Overall',
 '5']

In [15]:
# 맥주 정보 리스트 길이 출력
for i in range(10):
    print(len(tmp['맥주정보'].iloc[i]), end=' ')

18 15 16 15 14 16 14 17 15 16

In [16]:
# 맥주 정보 리스트 길이 저장
tmp['길이'] = tmp['맥주정보'].apply(lambda x : len(x))

In [17]:
tmp.head(3)

                맥주이름                                               맥주정보  길이
0  5,0 Original Pils  [hopihalido(1,454), 🇩🇪Hamburg, Germany, 1.2Dec...  18
1  5,0 Original Pils  [AndreiProdan(213), 🇲🇩Rautel, Moldova, 2.4Dece...  15
2  5,0 Original Pils  [Badylatko(469), 🇵🇱Poland, 2.1September 24, 20...  16

In [18]:
print('최소값', min(tmp['길이']))
print('최대값', max(tmp['길이']))

최소값 12
최대값 19

In [19]:
long19 = tmp[tmp['길이'] == 19]
long18 = tmp[tmp['길이'] == 18]
long17 = tmp[tmp['길이'] == 17]
long16 = tmp[tmp['길이'] == 16]
long15 = tmp[tmp['길이'] == 15]
long14 = tmp[tmp['길이'] == 14]
long13 = tmp[tmp['길이'] == 13]

In [20]:
# 0,1,2 까지 그리고, 뒤에서 10개
long19['맥주정보'].iloc[0]

['ophone(1,379)',
 '🇱🇺Luxembourg',
 '3.2January 9, 2020',
 'Having one at the Tankstelle pub in Cologne.',
 'Clear golden with a thin head. ',
 'Bitter, hoppy smell. Taste of a very common beer that…',
 'Show more',
 'TAP',
 '@ Tankstelle Köln',
 'Aroma',
 '7',
 'Appearance',
 '2',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '14']

In [21]:
# 0, 1, 2 그리고 뒤에서 10개
long18['맥주정보'].iloc[0]

['hopihalido(1,454)',
 '🇩🇪Hamburg, Germany',
 '1.2December 19, 2020',
 'AR: hopfig, unangenehm, ',
 'AP: klares goldgelb',
 'TA: malzig, brotig,…',
 'Show more',
 'CAN',
 'Aroma',
 '2',
 'Appearance',
 '1',
 'Flavor',
 '2',
 'Mouthfeel',
 '2',
 'Overall',
 '5']

In [22]:
s_list = long19['맥주정보'].iloc[0]
s_list

['ophone(1,379)',
 '🇱🇺Luxembourg',
 '3.2January 9, 2020',
 'Having one at the Tankstelle pub in Cologne.',
 'Clear golden with a thin head. ',
 'Bitter, hoppy smell. Taste of a very common beer that…',
 'Show more',
 'TAP',
 '@ Tankstelle Köln',
 'Aroma',
 '7',
 'Appearance',
 '2',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '14']

In [23]:
s_list = s_list[:3] + s_list[:10:-1]
s_list

['ophone(1,379)',
 '🇱🇺Luxembourg',
 '3.2January 9, 2020',
 '14',
 'Overall',
 '3',
 'Mouthfeel',
 '6',
 'Flavor',
 '2',
 'Appearance']

In [24]:
len(s_list)

11

In [25]:
ttmp = tmp.copy()
ttmp.head(3)

                맥주이름                                               맥주정보  길이
0  5,0 Original Pils  [hopihalido(1,454), 🇩🇪Hamburg, Germany, 1.2Dec...  18
1  5,0 Original Pils  [AndreiProdan(213), 🇲🇩Rautel, Moldova, 2.4Dece...  15
2  5,0 Original Pils  [Badylatko(469), 🇵🇱Poland, 2.1September 24, 20...  16

In [26]:
ttmp['맥주정보'].iloc[10][-2]

'Overall'

In [27]:
tlist = ttmp['맥주정보'].iloc[10][:-1]
tlist

['vladeath(1,853)',
 '🇷🇺Russia',
 '2.5July 4, 2020',
 'Mediocre German pils. Golden color foam quickly leaves. Malt, grain, some hops at the finish.',
 'CAN',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '5',
 'Mouthfeel',
 '2',
 'Overall']

In [31]:
tlist[:-11:-1]

['Overall',
 '2',
 'Mouthfeel',
 '5',
 'Flavor',
 '3',
 'Appearance',
 '5',
 'Aroma',
 'CAN']

In [320]:
# 좋아요가 1개인 것 찾아서 맨 뒤에 것 삭제
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x : x if x[-2]=='Overall' else x[:-1] )

In [321]:
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x : x[:3]+x[:-11:-1])

In [323]:
ttmp['맥주정보'].iloc[10]

['Viper666.Qc(10,484)',
 '🇨🇦Richelieu, Canada',
 '2.7September 6, 2019',
 '10',
 'Overall',
 '3',
 'Mouthfeel',
 '6',
 'Flavor',
 '3',
 'Appearance',
 '5',
 'Aroma']

In [324]:
ttmp['길이'] = ttmp['맥주정보'].apply(lambda x : len(x))

In [325]:
ttmp.head(3)

,맥주이름,맥주정보,편의점,길이
0,Kloud Original Gravity,"[patjenner(3), 4.0December 31, 2020, Strong ho...",CU GS25 7/11 ministop,13
1,Kloud Original Gravity,"[pictoman(1,959), 🇨🇦Vancouver, Canada, 2.0Apri...",CU GS25 7/11 ministop,13
2,Kloud Original Gravity,"[snoworsummer(8,581), 🇺🇸baltimore, United Stat...",CU GS25 7/11 ministop,13

In [326]:
print('최솟값', min(ttmp['길이']))
print('최댓값', max(ttmp['길이']))

최솟값 13
최댓값 13

In [328]:
for i in range(5):
    print(ttmp['맥주정보'].iloc[i])

['patjenner(3)', '4.0December 31, 2020', 'Strong hoppy flavor. Bavarian style. Ok but not fantastic. Needs to be super cold.…', '15', 'Overall', '4', 'Mouthfeel', '7', 'Flavor', '5', 'Appearance', '9', 'Aroma']
['pictoman(1,959)', '🇨🇦Vancouver, Canada', '2.0April 22, 2020', '7', 'Overall', '3', 'Mouthfeel', '4', 'Flavor', '3', 'Appearance', '3', 'Aroma']
['snoworsummer(8,581)', '🇺🇸baltimore, United States', '3.0March 7, 2020', '12', 'Overall', '3', 'Mouthfeel', '6', 'Flavor', '3', 'Appearance', '6', 'Aroma']
['mickmac(726)', '🇦🇺Ngunnawal, Australia', '2.9February 20, 2020', '12', 'Overall', '4', 'Mouthfeel', '4', 'Flavor', '4', 'Appearance', '5', 'Aroma']
['GuideDogSaint(2,549)', '🇨🇳Xiamen, China', '2.2February 8, 2020', '9', 'Overall', '2', 'Mouthfeel', '5', 'Flavor', '2', 'Appearance', '4', 'Aroma']

In [329]:
ttmp['맥주정보'].iloc[10]

['Viper666.Qc(10,484)',
 '🇨🇦Richelieu, Canada',
 '2.7September 6, 2019',
 '10',
 'Overall',
 '3',
 'Mouthfeel',
 '6',
 'Flavor',
 '3',
 'Appearance',
 '5',
 'Aroma']

In [330]:
ttmp['맥주정보'].iloc[10][-1]

'Aroma'

In [225]:
ttmp = tmp.copy()
ttmp.head(3)

,맥주이름,맥주정보,편의점,길이
0,Kloud Original Gravity,"[patjenner(3), 4.0December 31, 2020, Strong ho...",CU GS25 7/11 ministop,14
1,Kloud Original Gravity,"[pictoman(1,959), 🇨🇦Vancouver, Canada, 2.0Apri...",CU GS25 7/11 ministop,14
2,Kloud Original Gravity,"[snoworsummer(8,581), 🇺🇸baltimore, United Stat...",CU GS25 7/11 ministop,14

In [331]:
ttmp['ID'] = ttmp['맥주정보'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['맥주정보'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['맥주정보'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['맥주정보'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['맥주정보'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['맥주정보'].apply(lambda x: x[-10])
# 리스트의 1,2번째만(평점날짜, 이상한값) 뽑아오기
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x:x[1:3])
ttmp['길이'] = ttmp['맥주정보'].apply(lambda x:len(x))

In [332]:
ttmp.head(3)

,맥주이름,맥주정보,편의점,길이,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Kloud Original Gravity,"[4.0December 31, 2020, Strong hoppy flavor. Ba...",CU GS25 7/11 ministop,2,patjenner(3),9,5,7,4,15
1,Kloud Original Gravity,"[🇨🇦Vancouver, Canada, 2.0April 22, 2020]",CU GS25 7/11 ministop,2,"pictoman(1,959)",3,3,4,3,7
2,Kloud Original Gravity,"[🇺🇸baltimore, United States, 3.0March 7, 2020]",CU GS25 7/11 ministop,2,"snoworsummer(8,581)",6,3,6,3,12

In [333]:
ttmp['맥주정보'].iloc[0]

['4.0December 31, 2020',
 'Strong hoppy flavor. Bavarian style. Ok but not fantastic. Needs to be super cold.…']

In [334]:
ttmp['맥주정보'].iloc[1]

['🇨🇦Vancouver, Canada', '2.0April 22, 2020']

In [335]:
ttmp['맥주정보'].iloc[2]

['🇺🇸baltimore, United States', '3.0March 7, 2020']

In [336]:
import re

reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]+')

In [337]:
# x[0].str.contains('[0-9]+.+[0-9]+[A-Za-z0-9]+')

In [338]:
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x: x[0] if reg.match(x[0]) else x[1])

In [339]:
ttmp['맥주정보'].iloc[0]

'4.0December 31, 2020'

In [340]:
ttmp['평점'] = ttmp['맥주정보'].apply(lambda x : x[:3])
ttmp['날짜'] = ttmp['맥주정보'].apply(lambda x : x[3:])

In [354]:
ttmp.head(3)

,ID,맥주이름,날짜,평점,Aroma,Appearance,Flavor,Mouthfeel,Overall,편의점
0,patjenner(3),Kloud Original Gravity,"December 31, 2020",4.0,9,5,7,4,15,CU GS25 7/11 ministop
1,"pictoman(1,959)",Kloud Original Gravity,"April 22, 2020",2.0,3,3,4,3,7,CU GS25 7/11 ministop
2,"snoworsummer(8,581)",Kloud Original Gravity,"March 7, 2020",3.0,6,3,6,3,12,CU GS25 7/11 ministop

In [355]:
ttmp.columns

Index(['ID', '맥주이름', '날짜', '평점', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel',
       'Overall', '편의점'],
      dtype='object')

In [356]:
ttmp.columns = ['아이디', '맥주', '날짜', '평점', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel',
       'Overall', '편의점']

In [357]:
ttmp = ttmp[['아이디', '맥주', '날짜', '평점', '편의점', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall']]

In [358]:
ttmp.head(3)

,아이디,맥주,날짜,평점,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,patjenner(3),Kloud Original Gravity,"December 31, 2020",4.0,CU GS25 7/11 ministop,9,5,7,4,15
1,"pictoman(1,959)",Kloud Original Gravity,"April 22, 2020",2.0,CU GS25 7/11 ministop,3,3,4,3,7
2,"snoworsummer(8,581)",Kloud Original Gravity,"March 7, 2020",3.0,CU GS25 7/11 ministop,6,3,6,3,12

In [360]:
ttmp[ttmp['아이디'].str.contains('Viper666.Qc')]

,아이디,맥주,날짜,평점,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
10,"Viper666.Qc(10,484)",Kloud Original Gravity,"September 6, 2019",2.7,CU GS25 7/11 ministop,5,3,6,3,10
825,"Viper666.Qc(10,484)",Asahi Super Dry,"January 4, 2013",2.2,CU GS25 7/11 ministop,5,3,4,2,8
308,"Viper666.Qc(10,484)",Tsingtao,"March 7, 2016",1.9,CU GS25 7/11 ministop,4,2,4,2,7
2622,"Viper666.Qc(10,484)",Heineken,"May 17, 2007",2.0,CU GS25 7/11 ministop,3,2,4,2,9
690,"Viper666.Qc(10,484)",Kirin Ichiban,"February 12, 2013",2.0,CU GS25 7/11 ministop,3,3,3,2,9
1674,"Viper666.Qc(10,484)",Guinness Draught,"February 10, 2013",3.4,CU GS25 7/11 ministop,6,5,6,3,14
734,"Viper666.Qc(10,484)",Kronenbourg 1664 Blanc,"July 16, 2011",2.7,CU GS25 7/11 ministop,5,3,5,3,11
2851,"Viper666.Qc(10,484)",Pilsner Urquell,"May 27, 2007",3.0,CU GS25 7/11 ministop,6,3,6,3,12
317,"Viper666.Qc(10,484)",Victoria Bitter,"June 29, 2011",1.5,CU GS25 7/11 ministop,3,2,3,2,5
433,"Viper666.Qc(10,484)",Krombacher Weizen,"December 26, 2012",3.2,CU,7,3,6,3,13
1243,"Viper666.Qc(10,484)",Miller Genuine Draft (MGD),"June 12, 2007",1.3,CU GS25 7/11,2,2,2,2,5
10,"Viper666.Qc(10,484)",Kloud Original Gravity,"September 6, 2019",2.7,CU GS25 7/11 ministop,5,3,6,3,10
825,"Viper666.Qc(10,484)",Asahi Super Dry,"January 4, 2013",2.2,CU GS25 7/11 ministop,5,3,4,2,8
308,"Viper666.Qc(10,484)",Tsingtao,"March 7, 2016",1.9,CU GS25 7/11 ministop,4,2,4,2,7
2622,"Viper666.Qc(10,484)",Heineken,"May 17, 2007",2.0,CU GS25 7/11 ministop,3,2,4,2,9
690,"Viper666.Qc(10,484)",Kirin Ichiban,"February 12, 2013",2.0,CU GS25 7/11 ministop,3,3,3,2,9
1674,"Viper666.Qc(10,484)",Guinness Draught,"February 10, 2013",3.4,CU GS25 7/11 ministop,6,5,6,3,14
734,"Viper666.Qc(10,484)",Kronenbourg 1664 Blanc,"July 16, 2011",2.7,CU GS25 7/11 ministop,5,3,5,3,11
2851,"Viper666.Qc(10,484)",Pilsner Urquell,"May 27, 2007",3.0,CU GS25 7/11 ministop,6,3,6,3,12
317,"Viper666.Qc(10,484)",Victoria Bitter,"June 29, 2011",1.5,CU GS25 7/11 ministop,3,2,3,2,5
433,"Viper666.Qc(10,484)",Krombacher Weizen,"December 26, 2012",3.2,CU,7,3,6,3,13
1243,"Viper666.Qc(10,484)",Miller Genuine Draft (MGD),"June 12, 2007",1.3,CU GS25 7/11,2,2,2,2,5
278,"Viper666.Qc(10,484)",Tiger Beer,"March 7, 2016",1.9,CU ministop,3,2,4,2,8
1098,"Viper666.Qc(10,484)",Erdinger Weissbier,"January 21, 2013",3.2,CU ministop,6,3,6,3,14
961,"Viper666.Qc(10,484)",Carlsberg Pilsner,"January 4, 2009",2.3,CU,5,3,5,2,8
2371,"Viper666.Qc(10,484)",Budweiser,"May 17, 2007",1.1,CU GS25 7/11 ministop,2,2,2,2,3
2890,"Viper666.Qc(10,484)",Hoegaarden,"February 3, 2008",3.6,CU GS25 7/11 ministop,7,4,7,3,15
1346,"Viper666.Qc(10,484)",Paulaner Hefe-Weissbier,"March 10, 2013",3.8,CU 7/11,7,4,7,4,16
492,"Viper666.Qc(10,484)",Desperados,"January 16, 2013",1.7,CU GS25 7/11 ministop,4,2,4,2,5
720,"Viper666.Qc(10,484)",Peroni Nastro Azzurro,"March 1, 2013",1.8,CU GS25 7/11 ministop,4,2,4,2,6
266,"Viper666.Qc(10,484)",Edelweiss Weissbier Snowfresh,"October 16, 2008",3.4,CU GS25 7/11 ministop,7,3,7,3,14
396,"Viper666.Qc(10,484)",Guinness Original 4.2% (Ireland/UK),"January 21, 2011",3.2,CU GS25 7/11 ministop,6,3,7,3,13
102,"Viper666.Qc(10,484)",Eichbaum Apostel Bräu,"June 16, 2011",2.6,GS25,5,3,5,3,10
117,"Viper666.Qc(10,484)",Holsten Premium Bier,"February 11, 2013",2.5,GS25,5,3,5,2,10
514,"Viper666.Qc(10,484)",Bavaria Pilsener / Premium Beer,"December 24, 2010",1.9,GS25 7/11,4,2,4,2,7
656,"Viper666.Qc(10,484)",Grolsch Premium Lager,"February 9, 2013",2.5,GS25 7/11 ministop,5,3,5,3,9
1140,"Viper666.Qc(10,484)",Leffe Brune / Bruin / Brown,"February 23, 2013",3.5,GS25,7,4,7,3,14
1378,"Viper666.Qc(10,484)",Beck's,"December 7, 2007",2.4,GS25 7/11 ministop,5,2,5,2,10
302,"Viper666.Qc(10,484)",Hoegaarden Rosée,"January 4, 2013",2.5,7/11,5,3,5,3,9
590,"Viper666.Qc(10,484)",Schöfferhofer Grapefruit,"September 1, 2008",2.7,7/11,6,3,5,2,11
796,"Viper666.Qc(10,484)",Erdinger Weissbier Dunkel,"January 21, 2013",3.2,7/11,6,3,6,3,14
331,"Viper666.Qc(10,484)",Warsteiner Premium Verum,"March 7, 2016",2.3,7/11,5,2,4,2,10

In [361]:
ttmp.head(3)

,아이디,맥주,날짜,평점,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,patjenner(3),Kloud Original Gravity,"December 31, 2020",4.0,CU GS25 7/11 ministop,9,5,7,4,15
1,"pictoman(1,959)",Kloud Original Gravity,"April 22, 2020",2.0,CU GS25 7/11 ministop,3,3,4,3,7
2,"snoworsummer(8,581)",Kloud Original Gravity,"March 7, 2020",3.0,CU GS25 7/11 ministop,6,3,6,3,12

In [362]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109627 entries, 0 to 7
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   아이디         109627 non-null  object
 1   맥주          109627 non-null  object
 2   날짜          109627 non-null  object
 3   평점          109627 non-null  object
 4   편의점         109627 non-null  object
 5   Aroma       109627 non-null  object
 6   Appearance  109627 non-null  object
 7   Flavor      109627 non-null  object
 8   Mouthfeel   109627 non-null  object
 9   Overall     109627 non-null  object
dtypes: object(10)
memory usage: 9.2+ MB

In [363]:
ttmp.to_csv('76개_맥주_데이터.csv', encoding='utf-8')

In [364]:
ttmp.tail()

,아이디,맥주,날짜,평점,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
3,"TedE(2,324)",Queen's Ale Blonde Type,"August 14, 2015",3.4,ministop,6,2,7,4,15
4,"KansaiBeerLvrs(7,283)",Queen's Ale Blonde Type,"May 19, 2015",3.1,ministop,7,4,6,4,10
5,"cubs(10,772)",Queen's Ale Blonde Type,"May 3, 2014",3.0,ministop,6,4,6,4,10
6,"arminjewell(9,756)",Queen's Ale Blonde Type,"May 3, 2014",2.9,ministop,5,4,6,3,11
7,"Fatehunter(3,190)",Queen's Ale Blonde Type,"February 19, 2014",3.1,ministop,7,4,4,3,13