In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('추가맥주종합데이터.csv', encoding='utf-8', index_col=0)

In [4]:
data2 = pd.read_csv('크롤링_원본데이터.csv', encoding='utf-8', index_col=0)

In [5]:
data = data[['맥주이름', '맥주정보']]
data2 = data2[['맥주이름', '맥주정보']]

In [7]:
data = pd.concat([data,data2])

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 319129 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   맥주이름    319129 non-null  object
 1   맥주정보    319129 non-null  object
dtypes: object(2)
memory usage: 7.3+ MB

In [95]:
data.head()

                맥주이름                                               맥주정보
0  5,0 Original Pils  hopihalido(1,454)\n🇩🇪Hamburg, Germany\n1.2Dece...
1  5,0 Original Pils  AndreiProdan(213)\n🇲🇩Rautel, Moldova\n2.4Decem...
2  5,0 Original Pils  Badylatko(469)\n🇵🇱Poland\n2.1September 24, 202...
3  5,0 Original Pils  qt01(451)\n🇷🇴Cluj-Napoca, Romania\n2.1August 1...
4  5,0 Original Pils  SVD(3,986)\n🇳🇱Netherlands\n3.4August 2, 2020\n...

In [10]:
# 맥주정보 Raw 데이터값
data['맥주정보'].iloc[0]

'hopihalido(1,454)\n🇩🇪Hamburg, Germany\n1.2December 19, 2020\nAR: hopfig, unangenehm, \nAP: klares goldgelb\nTA: malzig, brotig,…\nShow more\nCAN\nAroma\n2\nAppearance\n1\nFlavor\n2\nMouthfeel\n2\nOverall\n5'

## 전처리 1단계 - 문자열 분리하기('\n')

In [11]:
# tmp 변수에 카피
tmp = data.copy()

In [12]:
# \n 개행문자 기준으로 분리
tmp['맥주정보'] = tmp['맥주정보'].str.split('\n')
tmp['맥주정보']

0    [hopihalido(1,454), 🇩🇪Hamburg, Germany, 1.2Dec...
1    [AndreiProdan(213), 🇲🇩Rautel, Moldova, 2.4Dece...
2    [Badylatko(469), 🇵🇱Poland, 2.1September 24, 20...
3    [qt01(451), 🇷🇴Cluj-Napoca, Romania, 2.1August ...
4    [SVD(3,986), 🇳🇱Netherlands, 3.4August 2, 2020,...
                           ...
3    [TedE(2,324), 🇦🇺Glen Innes, Australia, 3.4Augu...
4    [KansaiBeerLvrs(7,283), 🇯🇵Kyoto, Japan, 3.1May...
5    [cubs(10,772), 🇺🇸Fort Collins, United States, ...
6    [arminjewell(9,756), 🇺🇸East Lansing, United St...
7    [Fatehunter(3,190), 🇺🇸Corbett, United States, ...
Name: 맥주정보, Length: 319129, dtype: object

In [13]:
# 특이점 확인 : 0,1,2,3번째 리스트 요소까지 잘라야함.
for i in range(75252, 75255):
    print(tmp['맥주정보'].iloc[i], '\n')

['AgentSteve(1,648)', '🇺🇸SF Bay Area, United States', '3.3April 8, 2008', 'Pours a clear copper color with very thin and very light colored head. Nose is almost nonexistent. Flavor is a bit malty in the front, bitter in the mid, and dry and a slightly…', 'Show more', 'Aroma', '6', 'Appearance', '3', 'Flavor', '6', 'Mouthfeel', '3', 'Overall', '15']

['Haslinger(1,011)', '🇺🇸The World of Beer, United States', '3.1April 6, 2008', 'on tap, nothing spectacular, I was disappointed after the other Fuller’s I have had I had expected more from this. Good aftertaste though. Wouldn’t buy again', 'Aroma', '5', 'Appearance', '4', 'Flavor', '6', 'Mouthfeel', '3', 'Overall', '13']

['Thylacine(526)', '🇦🇺Tasmania, Australia', '3.9April 6, 2008', 'Bottle - Clear copper with thin off white head. Medium carbonation. Very smooth and well balanced. Long bitter finish. An excellent drop!', 'Aroma', '6', 'Appearance', '4', 'Flavor', '8', 'Mouthfeel', '3', 'Overall', '18']

In [14]:
# 분리된 스트링 값 확인 -> List로 변환됨
tmp['맥주정보'].iloc[0]

['hopihalido(1,454)',
 '🇩🇪Hamburg, Germany',
 '1.2December 19, 2020',
 'AR: hopfig, unangenehm, ',
 'AP: klares goldgelb',
 'TA: malzig, brotig,…',
 'Show more',
 'CAN',
 'Aroma',
 '2',
 'Appearance',
 '1',
 'Flavor',
 '2',
 'Mouthfeel',
 '2',
 'Overall',
 '5']

In [15]:
# 맥주 정보에 좋아요 수가 포함된 리스트도 있음
tmp['맥주정보'].iloc[10]

['vladeath(1,853)',
 '🇷🇺Russia',
 '2.5July 4, 2020',
 'Mediocre German pils. Golden color foam quickly leaves. Malt, grain, some hops at the finish.',
 'CAN',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '5',
 'Mouthfeel',
 '2',
 'Overall',
 '10']

In [16]:
# 맥주 정보 리스트 길이 출력
for i in range(10):
    print(len(tmp['맥주정보'].iloc[i]), end=' ')

18 15 16 15 14 16 14 17 15 16

In [17]:
# 맥주 정보 리스트 길이 저장
tmp['길이'] = tmp['맥주정보'].apply(lambda x : len(x))

In [18]:
tmp.head(3)

                맥주이름                                               맥주정보  길이
0  5,0 Original Pils  [hopihalido(1,454), 🇩🇪Hamburg, Germany, 1.2Dec...  18
1  5,0 Original Pils  [AndreiProdan(213), 🇲🇩Rautel, Moldova, 2.4Dece...  15
2  5,0 Original Pils  [Badylatko(469), 🇵🇱Poland, 2.1September 24, 20...  16

In [19]:
print('최소값', min(tmp['길이']))
print('최대값', max(tmp['길이']))

최소값 12
최대값 19

In [20]:
long19 = tmp[tmp['길이'] == 19]
long18 = tmp[tmp['길이'] == 18]
long17 = tmp[tmp['길이'] == 17]
long16 = tmp[tmp['길이'] == 16]
long15 = tmp[tmp['길이'] == 15]
long14 = tmp[tmp['길이'] == 14]
long13 = tmp[tmp['길이'] == 13]

In [21]:
# 0,1,2,3번째 그리고 뒤에서 10개 추출하면 됨
long19['맥주정보'].iloc[0]

['ophone(1,379)',
 '🇱🇺Luxembourg',
 '3.2January 9, 2020',
 'Having one at the Tankstelle pub in Cologne.',
 'Clear golden with a thin head. ',
 'Bitter, hoppy smell. Taste of a very common beer that…',
 'Show more',
 'TAP',
 '@ Tankstelle Köln',
 'Aroma',
 '7',
 'Appearance',
 '2',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '14']

In [22]:
# 0, 1, 2, 3 그리고 뒤에서 10개
long18['맥주정보'].iloc[0]

['hopihalido(1,454)',
 '🇩🇪Hamburg, Germany',
 '1.2December 19, 2020',
 'AR: hopfig, unangenehm, ',
 'AP: klares goldgelb',
 'TA: malzig, brotig,…',
 'Show more',
 'CAN',
 'Aroma',
 '2',
 'Appearance',
 '1',
 'Flavor',
 '2',
 'Mouthfeel',
 '2',
 'Overall',
 '5']

In [23]:
s_list = long19['맥주정보'].iloc[0]
s_list

['ophone(1,379)',
 '🇱🇺Luxembourg',
 '3.2January 9, 2020',
 'Having one at the Tankstelle pub in Cologne.',
 'Clear golden with a thin head. ',
 'Bitter, hoppy smell. Taste of a very common beer that…',
 'Show more',
 'TAP',
 '@ Tankstelle Köln',
 'Aroma',
 '7',
 'Appearance',
 '2',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '14']

In [24]:
# 앞에서부터 0,1,2,3번째 리스트 요소 + 뒤에서부터 10개 요소 합
s_list = s_list[:4] + s_list[:-11:-1]
s_list

['ophone(1,379)',
 '🇱🇺Luxembourg',
 '3.2January 9, 2020',
 'Having one at the Tankstelle pub in Cologne.',
 '14',
 'Overall',
 '3',
 'Mouthfeel',
 '6',
 'Flavor',
 '2',
 'Appearance',
 '7',
 'Aroma']

## 전처리 2단계 - 좋아요 수 삭제하기

In [38]:
ttmp = tmp.copy()
ttmp.head(3)

                맥주이름                                               맥주정보  길이
0  5,0 Original Pils  [hopihalido(1,454), 🇩🇪Hamburg, Germany, 1.2Dec...  18
1  5,0 Original Pils  [AndreiProdan(213), 🇲🇩Rautel, Moldova, 2.4Dece...  15
2  5,0 Original Pils  [Badylatko(469), 🇵🇱Poland, 2.1September 24, 20...  16

In [39]:
for i in range(0, 3):
    print(ttmp['맥주정보'].iloc[i])

['hopihalido(1,454)', '🇩🇪Hamburg, Germany', '1.2December 19, 2020', 'AR: hopfig, unangenehm, ', 'AP: klares goldgelb', 'TA: malzig, brotig,…', 'Show more', 'CAN', 'Aroma', '2', 'Appearance', '1', 'Flavor', '2', 'Mouthfeel', '2', 'Overall', '5']
['AndreiProdan(213)', '🇲🇩Rautel, Moldova', '2.4December 18, 2020', 'Aromă dulce de malţ, cereale. Gust uşor amar de malţ, cu post gust dulce.Nimic deosebit', 'CAN', 'Aroma', '5', 'Appearance', '2', 'Flavor', '5', 'Mouthfeel', '2', 'Overall', '10']
['Badylatko(469)', '🇵🇱Poland', '2.1September 24, 2020', 'Z wyglądu ok, jak to pils, bez specjalnych udziwnień, ale też i efektów specjalnych. Aromat to słody, ziemistość, siano, lekko trawa, karmel. Smak spodziewałem się i życzyłbym…', 'Show more', 'CAN', 'Aroma', '4', 'Appearance', '2', 'Flavor', '4', 'Mouthfeel', '3', 'Overall', '8']

In [40]:
# 맥주정보 리스트 출력 : 좋아요 수가 기록된 유저 정보
ttmp['맥주정보'].iloc[10]

['vladeath(1,853)',
 '🇷🇺Russia',
 '2.5July 4, 2020',
 'Mediocre German pils. Golden color foam quickly leaves. Malt, grain, some hops at the finish.',
 'CAN',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '5',
 'Mouthfeel',
 '2',
 'Overall',
 '10']

In [41]:
# 맨 뒤의 좋아요 수 제거 방법
tlist = ttmp['맥주정보'].iloc[10][:-1]
tlist

['vladeath(1,853)',
 '🇷🇺Russia',
 '2.5July 4, 2020',
 'Mediocre German pils. Golden color foam quickly leaves. Malt, grain, some hops at the finish.',
 'CAN',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '5',
 'Mouthfeel',
 '2',
 'Overall']

In [42]:
# 전체 데이터프레임에서 좋아요가 1개인 것 찾아서 맨 뒤에 것 삭제
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x : x if x[-2]=='Overall' else x[:-1] )

In [43]:
# 맥주정보에서 0,1,2,3번째 리스트 요소와 뒤에서부터 10개의 리스트요소(평점값들)추출
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x : x[:4]+x[:-11:-1])

In [44]:
# 좋아요 수가 정상적으로 삭제됨
ttmp['맥주정보'].iloc[10]

['vladeath(1,853)',
 '🇷🇺Russia',
 '2.5July 4, 2020',
 'Mediocre German pils. Golden color foam quickly leaves. Malt, grain, some hops at the finish.',
 '10',
 'Overall',
 '2',
 'Mouthfeel',
 '5',
 'Flavor',
 '3',
 'Appearance',
 '5',
 'Aroma']

In [45]:
# 맥주 정보값 출력
for i in range(8,11):
    print(ttmp['맥주정보'].iloc[i], '\n')

['HighSparkDiesel(597)', '🇹🇼Taipei City, Taiwan', '1.3May 3, 2020', "A 500 ml. can from A-Mart in Jingmei, labelled '5,0 Original Craft'. Aroma: slightly sour yeast. Appearance: honey amber, one finger off-white head. Palate: light-bodied and frankly…", '2', 'Overall', '1', 'Mouthfeel', '2', 'Flavor', '3', 'Appearance', '5', 'Aroma']

['bilcho1(1,406)', '🇧🇬Ruse, Bulgaria', '2.6January 12, 2020', "500ml can, as 5,0 Original Craft Beer from Carrefour, Baneasa, drunk at home on a mild January evening. Clear pale gold, head and lacing that didn't last but masses of…", '11', 'Overall', '5', 'Mouthfeel', '5', 'Flavor', '3', 'Appearance', '2', 'Aroma']

['vladeath(1,853)', '🇷🇺Russia', '2.5July 4, 2020', 'Mediocre German pils. Golden color foam quickly leaves. Malt, grain, some hops at the finish.', '10', 'Overall', '2', 'Mouthfeel', '5', 'Flavor', '3', 'Appearance', '5', 'Aroma']

## 전처리 3단계 - 실제 컬럼으로 데이터 추출

In [48]:
ttmp['맥주정보'].iloc[0]

['hopihalido(1,454)',
 '🇩🇪Hamburg, Germany',
 '1.2December 19, 2020',
 'AR: hopfig, unangenehm, ',
 '5',
 'Overall',
 '2',
 'Mouthfeel',
 '2',
 'Flavor',
 '1',
 'Appearance',
 '2',
 'Aroma']

In [51]:
ttmp

,맥주이름,맥주정보,길이,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"5,0 Original Pils","[🇩🇪Hamburg, Germany, 1.2December 19, 2020, AR:...",3,"hopihalido(1,454)",2,1,2,2,5
1,"5,0 Original Pils","[🇲🇩Rautel, Moldova, 2.4December 18, 2020, Arom...",3,AndreiProdan(213),5,2,5,2,10
2,"5,0 Original Pils","[🇵🇱Poland, 2.1September 24, 2020, Z wyglądu ok...",3,Badylatko(469),4,2,4,3,8
3,"5,0 Original Pils","[🇷🇴Cluj-Napoca, Romania, 2.1August 11, 2020, I...",3,qt01(451),-,-,-,-,-
4,"5,0 Original Pils","[🇳🇱Netherlands, 3.4August 2, 2020, Can at my h...",3,"SVD(3,986)",6,3,6,3,16
...,...,...,...,...,...,...,...,...,...
3,Queen's Ale Blonde Type,"[🇦🇺Glen Innes, Australia, 3.4August 14, 2015, ...",3,"TedE(2,324)",6,2,7,4,15
4,Queen's Ale Blonde Type,"[🇯🇵Kyoto, Japan, 3.1May 19, 2015, Queen’s Ale ...",3,"KansaiBeerLvrs(7,283)",7,4,6,4,10
5,Queen's Ale Blonde Type,"[🇺🇸Fort Collins, United States, 3.0May 3, 2014...",3,"cubs(10,772)",6,4,6,4,10
6,Queen's Ale Blonde Type,"[🇺🇸East Lansing, United States, 2.9May 3, 2014...",3,"arminjewell(9,756)",5,4,6,3,11
7,Queen's Ale Blonde Type,"[🇺🇸Corbett, United States, 3.1February 19, 201...",3,"Fatehunter(3,190)",7,4,4,3,13

In [50]:
# 추가맥주리스트는 이걸로!
ttmp['ID'] = ttmp['맥주정보'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['맥주정보'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['맥주정보'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['맥주정보'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['맥주정보'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['맥주정보'].apply(lambda x: x[-10])

# 리스트의 1,2,3번째 요소만(평점날짜 or 이상한 값) 뽑아오기
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x:x[1:4])
ttmp['길이'] = ttmp['맥주정보'].apply(lambda x:len(x))

In [35]:
# 맨 첫번째 리스트 요소에 ID 저장
# 그 뒤로는 뒤에서부터 각 평가값 저장
ttmp['ID'] = ttmp['맥주정보'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['맥주정보'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['맥주정보'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['맥주정보'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['맥주정보'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['맥주정보'].apply(lambda x: x[-10])

# 리스트의 1,2,3번째 요소만(평점날짜 or 이상한 값) 뽑아오기
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x:x[1:4])
ttmp['길이'] = ttmp['맥주정보'].apply(lambda x:len(x))

IndexError: list index out of range

In [52]:
# 결과 확인
ttmp.head(3)

,맥주이름,맥주정보,길이,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"5,0 Original Pils","[🇩🇪Hamburg, Germany, 1.2December 19, 2020, AR:...",3,"hopihalido(1,454)",2,1,2,2,5
1,"5,0 Original Pils","[🇲🇩Rautel, Moldova, 2.4December 18, 2020, Arom...",3,AndreiProdan(213),5,2,5,2,10
2,"5,0 Original Pils","[🇵🇱Poland, 2.1September 24, 2020, Z wyglądu ok...",3,Badylatko(469),4,2,4,3,8

## 전처리 4단계 - 국적이 없(있)는 데이터로부터 평점,날짜 추출

In [53]:
# 0, 1, 2번째 요소 중 뽑아낼 데이터의 위치가 불분명
ttmp['맥주정보'].iloc[0]

['🇩🇪Hamburg, Germany', '1.2December 19, 2020', 'AR: hopfig, unangenehm, ']

In [54]:
# 0, 1, 2번째 요소 중 뽑아낼 데이터의 위치가 불분명
for i in range(5):
    print(ttmp['맥주정보'].iloc[i], '\n')

['🇩🇪Hamburg, Germany', '1.2December 19, 2020', 'AR: hopfig, unangenehm, ']

['🇲🇩Rautel, Moldova', '2.4December 18, 2020', 'Aromă dulce de malţ, cereale. Gust uşor amar de malţ, cu post gust dulce.Nimic deosebit']

['🇵🇱Poland', '2.1September 24, 2020', 'Z wyglądu ok, jak to pils, bez specjalnych udziwnień, ale też i efektów specjalnych. Aromat to słody, ziemistość, siano, lekko trawa, karmel. Smak spodziewałem się i życzyłbym…']

['🇷🇴Cluj-Napoca, Romania', '2.1August 11, 2020', 'It is a decent beer with a light bitter taste. Not bad, but they had to lie about it being craft and about them respecting the purity law while using hop extract.']

['🇳🇱Netherlands', '3.4August 2, 2020', 'Can at my hotel room, golden beer, small head. Aroma is malt, grain, taste is the same, bitter, sweet, ok. Not much special.']

In [55]:
# 특이점 확인 : 0번째, 1번째, 2번째 요소 중 뽑아낼 데이터의 위치가 불분명
for i in range(75252, 75255):
    print(ttmp['맥주정보'].iloc[i], '\n\n')

['🇺🇸SF Bay Area, United States', '3.3April 8, 2008', 'Pours a clear copper color with very thin and very light colored head. Nose is almost nonexistent. Flavor is a bit malty in the front, bitter in the mid, and dry and a slightly…']


['🇺🇸The World of Beer, United States', '3.1April 6, 2008', 'on tap, nothing spectacular, I was disappointed after the other Fuller’s I have had I had expected more from this. Good aftertaste though. Wouldn’t buy again']


['🇦🇺Tasmania, Australia', '3.9April 6, 2008', 'Bottle - Clear copper with thin off white head. Medium carbonation. Very smooth and well balanced. Long bitter finish. An excellent drop!']

In [56]:
# 4.0+알파벳으로 처리된 텍스트를 뽑아내기 위해 정규표현식 사용

import re

# ex) 4.0December 28, 2020 추출
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

In [57]:
# 정규표현식에 해당하는 문자열과 매칭되는 경우 해당 리스트 요소를 맥주정보에 저장
# reg.match()는 re.compile()의 정규표현식과 일치하는 문자열을 반환, 아니면 False를 반환
# 중첩 삼항 표현식 사용 : https://ooyoung.tistory.com/116

ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x: x[0] if reg.match(x[0]) else 
                                  (x[1] if reg.match(x[1]) else x[2]))

In [58]:
# 결과 확인
ttmp.head()

,맥주이름,맥주정보,길이,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"5,0 Original Pils","1.2December 19, 2020",3,"hopihalido(1,454)",2,1,2,2,5
1,"5,0 Original Pils","2.4December 18, 2020",3,AndreiProdan(213),5,2,5,2,10
2,"5,0 Original Pils","2.1September 24, 2020",3,Badylatko(469),4,2,4,3,8
3,"5,0 Original Pils","2.1August 11, 2020",3,qt01(451),-,-,-,-,-
4,"5,0 Original Pils","3.4August 2, 2020",3,"SVD(3,986)",6,3,6,3,16

In [59]:
# 특이점 확인 : 원하는 평점 + 날자값이 정상적으로 추출됨
for i in range(75250, 75260):
    print(ttmp['맥주정보'].iloc[i])

3.0April 12, 2008
3.3April 10, 2008
3.3April 8, 2008
3.1April 6, 2008
3.9April 6, 2008
3.9April 7, 2008
3.0April 6, 2008
3.4April 3, 2008
3.3April 2, 2008
3.5March 31, 2008

## 전처리 5단계 - 평점과 날짜 데이터 분리

In [60]:
# 평점은 0번째부터 3번째, 날짜는 그 이후 문자열로 처리
ttmp['평점'] = ttmp['맥주정보'].apply(lambda x : x[:3])
ttmp['날짜'] = ttmp['맥주정보'].apply(lambda x : x[3:])

In [61]:
ttmp.head(3)

,맥주이름,맥주정보,길이,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,평점,날짜
0,"5,0 Original Pils","1.2December 19, 2020",3,"hopihalido(1,454)",2,1,2,2,5,1.2,"December 19, 2020"
1,"5,0 Original Pils","2.4December 18, 2020",3,AndreiProdan(213),5,2,5,2,10,2.4,"December 18, 2020"
2,"5,0 Original Pils","2.1September 24, 2020",3,Badylatko(469),4,2,4,3,8,2.1,"September 24, 2020"

In [62]:
ttmp.columns

Index(['맥주이름', '맥주정보', '길이', 'ID', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', '평점', '날짜'],
      dtype='object')

In [63]:
# 필요한 컬럼만 추출
ttmp = ttmp[['맥주정보', '맥주이름', 'ID', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', '평점', '날짜']]

In [64]:
ttmp.columns = ['맥주정보', '맥주이름', '아이디', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', '평점', '날짜']

In [65]:
ttmp.head(3)

,맥주정보,맥주이름,아이디,Aroma,Appearance,Flavor,Mouthfeel,Overall,평점,날짜
0,"1.2December 19, 2020","5,0 Original Pils","hopihalido(1,454)",2,1,2,2,5,1.2,"December 19, 2020"
1,"2.4December 18, 2020","5,0 Original Pils",AndreiProdan(213),5,2,5,2,10,2.4,"December 18, 2020"
2,"2.1September 24, 2020","5,0 Original Pils",Badylatko(469),4,2,4,3,8,2.1,"September 24, 2020"

In [66]:
ttmp.head(3)

,맥주정보,맥주이름,아이디,Aroma,Appearance,Flavor,Mouthfeel,Overall,평점,날짜
0,"1.2December 19, 2020","5,0 Original Pils","hopihalido(1,454)",2,1,2,2,5,1.2,"December 19, 2020"
1,"2.4December 18, 2020","5,0 Original Pils",AndreiProdan(213),5,2,5,2,10,2.4,"December 18, 2020"
2,"2.1September 24, 2020","5,0 Original Pils",Badylatko(469),4,2,4,3,8,2.1,"September 24, 2020"

In [67]:
# 좋아요 수가 표시된 특이점 데이터 다시 한 번 확인
ttmp[ttmp['아이디'].str.contains('Viper666.Qc')].head(3)

,맥주정보,맥주이름,아이디,Aroma,Appearance,Flavor,Mouthfeel,Overall,평점,날짜
3,"3.0August 10, 2009",Gaffel Kölsch,"Viper666.Qc(10,510)",5,3,6,3,13,3.0,"August 10, 2009"
11,"2.8January 15, 2013",DAB Original,"Viper666.Qc(10,510)",6,3,5,3,11,2.8,"January 15, 2013"
9,"2.7February 23, 2013",Löwenbräu München Original,"Viper666.Qc(10,510)",5,3,5,3,11,2.7,"February 23, 2013"

In [68]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 319129 entries, 0 to 7
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   맥주정보        319129 non-null  object
 1   맥주이름        319129 non-null  object
 2   아이디         319129 non-null  object
 3   Aroma       319129 non-null  object
 4   Appearance  319129 non-null  object
 5   Flavor      319129 non-null  object
 6   Mouthfeel   319129 non-null  object
 7   Overall     319129 non-null  object
 8   평점          319129 non-null  object
 9   날짜          319129 non-null  object
dtypes: object(10)
memory usage: 26.8+ MB

# 문제 발생 : 평점 데이터 추출이 잘못됨 --> 해결

### 1. 아이디, 국적, 평점+날짜, 리뷰 문제 발생
### 아이디, 국적, 이상한값, 평점+날짜, 리뷰 순인 데이터 발생 --> 4번째까지 고려함으로써 해결

### 2. 세부 리뷰 평점이 '-'인 값 때문에 오류 발생 -> 삭제함으로써 해결

In [69]:
# 문제 발생 : 평점 데이터 추출이 잘못됨 --> 해결
ttmp.iloc[75253]

맥주정보                          3.1April 6, 2008
맥주이름          Fuller's London Pride (Filtered)
아이디                           Haslinger(1,011)
Aroma                                        5
Appearance                                   4
Flavor                                       6
Mouthfeel                                    3
Overall                                     13
평점                                         3.1
날짜                               April 6, 2008
Name: 9, dtype: object

In [70]:
ttmp.iloc[9]

맥주정보          2.6January 12, 2020
맥주이름            5,0 Original Pils
아이디                bilcho1(1,406)
Aroma                           2
Appearance                      3
Flavor                          5
Mouthfeel                       5
Overall                        11
평점                            2.6
날짜               January 12, 2020
Name: 9, dtype: object

In [71]:
# 문제 발생 : 세부 리뷰 평점이 '-'인 경우 발생
ttmp[ttmp['Aroma']=='-']

,맥주정보,맥주이름,아이디,Aroma,Appearance,Flavor,Mouthfeel,Overall,평점,날짜
3,"2.1August 11, 2020","5,0 Original Pils",qt01(451),-,-,-,-,-,2.1,"August 11, 2020"
14,"1.0May 27, 2019","5,0 Original Pils",so1ji(16),-,-,-,-,-,1.0,"May 27, 2019"
11,"3.3August 1, 2018","5,0 Original Pils",Brokkie(757),-,-,-,-,-,3.3,"August 1, 2018"
13,"2.6June 28, 2019",Gaffel Kölsch,muenzo(70),-,-,-,-,-,2.6,"June 28, 2019"
10,"4.0March 17, 2019",Gaffel Kölsch,ruslan_maximov(0),-,-,-,-,-,4.0,"March 17, 2019"
...,...,...,...,...,...,...,...,...,...,...
128,"2.5May 27, 2018",Warsteiner Premium Verum,haldex(89),-,-,-,-,-,2.5,"May 27, 2018"
178,"4.0September 29, 2017",Warsteiner Premium Verum,PilsnerMeister42(17),-,-,-,-,-,4.0,"September 29, 2017"
188,"2.6September 1, 2017",Warsteiner Premium Verum,pj007(9),-,-,-,-,-,2.6,"September 1, 2017"
197,"2.0August 7, 2017",Warsteiner Premium Verum,"angel77(5,902)",-,-,-,-,-,2.0,"August 7, 2017"
199,"1.8July 26, 2017",Warsteiner Premium Verum,"KoNrRiI(2,146)",-,-,-,-,-,1.8,"July 26, 2017"

In [72]:
# 세부 리뷰 값이 '-'가 아닌 데이터만 저장
ttmp = ttmp[ttmp['Aroma']!='-']
ttmp = ttmp[ttmp['Appearance']!='-']
ttmp = ttmp[ttmp['Flavor']!='-']
ttmp = ttmp[ttmp['Mouthfeel']!='-']
ttmp = ttmp[ttmp['Overall']!='-']

In [73]:
# 문제 발생 : 세부 리뷰 평점이 '-'인 경우 발생 --> 해결
ttmp[ttmp['Aroma']=='-']

Empty DataFrame
Columns: [맥주정보, 맥주이름, 아이디, Aroma, Appearance, Flavor, Mouthfeel, Overall, 평점, 날짜]
Index: []

In [74]:
# 수치형 데이터는 실수로 변환 : pd.to_numeric() 함수 사용
ttmp['평점'] = pd.to_numeric(ttmp['평점'])
ttmp['Aroma'] = pd.to_numeric(ttmp['Aroma'])
ttmp['Appearance'] = pd.to_numeric(ttmp['Appearance'])
ttmp['Flavor'] = pd.to_numeric(ttmp['Flavor'])
ttmp['Mouthfeel'] = pd.to_numeric(ttmp['Mouthfeel'])
ttmp['Overall'] = pd.to_numeric(ttmp['Overall'])

In [75]:
# 중복된 행들을 제거합니다.
ttmp.drop_duplicates(keep='first', inplace=True)

In [76]:
# 최종 데이터 확인
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256259 entries, 0 to 7
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   맥주정보        256259 non-null  object
 1   맥주이름        256259 non-null  object
 2   아이디         256259 non-null  object
 3   Aroma       256259 non-null  int64
 4   Appearance  256259 non-null  int64
 5   Flavor      256259 non-null  int64
 6   Mouthfeel   256259 non-null  int64
 7   Overall     256259 non-null  int64
 8   평점          256259 non-null  float64
 9   날짜          256259 non-null  object
dtypes: float64(1), int64(5), object(4)
memory usage: 21.5+ MB

In [77]:
# 최종 데이터 값 분포 확인
ttmp.describe()

,Aroma,Appearance,Flavor,Mouthfeel,Overall,평점
count,256259.000000,256259.000000,256259.000000,256259.000000,256259.000000,256259.000000
mean,5.147054,3.146044,5.419349,2.887766,10.913849,2.751933
std,1.948432,0.982079,1.943552,0.948167,4.112377,0.942866
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.500000
25%,4.000000,2.000000,4.000000,2.000000,8.000000,2.100000
50%,5.000000,3.000000,5.000000,3.000000,11.000000,2.800000
75%,7.000000,4.000000,7.000000,3.000000,14.000000,3.400000
max,10.000000,5.000000,10.000000,5.000000,20.000000,140.000000

In [80]:
# 평점이 비정상적으로 큰 값 제거
ttmp = ttmp[ttmp['평점'] < 5.1]

In [84]:
ttmp.describe()

,Aroma,Appearance,Flavor,Mouthfeel,Overall,평점
count,256258.000000,256258.000000,256258.000000,256258.000000,256258.000000,256258.000000
mean,5.147043,3.146036,5.419335,2.887758,10.913813,2.751398
std,1.948427,0.982074,1.943543,0.948159,4.112346,0.903045
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.500000
25%,4.000000,2.000000,4.000000,2.000000,8.000000,2.100000
50%,5.000000,3.000000,5.000000,3.000000,11.000000,2.800000
75%,7.000000,4.000000,7.000000,3.000000,14.000000,3.400000
max,10.000000,5.000000,10.000000,5.000000,20.000000,5.000000

In [83]:
ttmp.columns

Index(['맥주정보', '맥주이름', '아이디', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel',
       'Overall', '평점', '날짜'],
      dtype='object')

In [86]:
ttmp = ttmp[['아이디', '맥주이름', '날짜', '평점', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel',
       'Overall']]

In [87]:
ttmp.columns = ['아이디', '맥주', '날짜', '평점', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel',
       'Overall']

In [152]:
# 데이터프레임 병합을 위해 편의점도 추가
ttmp['편의점'] = ''

In [160]:
# ttmp.columns = ['맥주', '아이디', '날짜', '평점', '편의점', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel',
#        'Overall']

In [167]:
# ttmp = ttmp[['아이디', '맥주', '날짜', '평점', '편의점', 'Aroma', 'Appearance', 'Flavor', 'Mouthfeel',
#        'Overall']]

In [88]:
ttmp.head(3)

,아이디,맥주,날짜,평점,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"hopihalido(1,454)","5,0 Original Pils","December 19, 2020",1.2,2,1,2,2,5
1,AndreiProdan(213),"5,0 Original Pils","December 18, 2020",2.4,5,2,5,2,10
2,Badylatko(469),"5,0 Original Pils","September 24, 2020",2.1,4,2,4,3,8

In [92]:
ttmp.head(5)

,아이디,맥주,날짜,평점,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"hopihalido(1,454)","5,0 Original Pils","December 19, 2020",1.2,2,1,2,2,5
1,AndreiProdan(213),"5,0 Original Pils","December 18, 2020",2.4,5,2,5,2,10
2,Badylatko(469),"5,0 Original Pils","September 24, 2020",2.1,4,2,4,3,8
4,"SVD(3,986)","5,0 Original Pils","August 2, 2020",3.4,6,3,6,3,16
5,"DoctorHU(1,495)","5,0 Original Pils","July 21, 2020",2.5,5,3,5,3,9

In [89]:
ttmp.to_csv('맥주_25만개_최종.csv', encoding='utf-8')

In [169]:
ttmp.to_csv('656개_맥주_데이터.csv', encoding='utf-8')

## 기존에 있던 76개 데이터와 합체

In [170]:
beer76 = pd.read_csv('76개_맥주_데이터.csv', encoding='utf-8', index_col=0)
beer656 = pd.read_csv('656개_맥주_데이터.csv', encoding='utf-8', index_col=0)

In [171]:
beer76.head(3)

,아이디,맥주,날짜,평점,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,patjenner(3),Kloud Original Gravity,"December 31, 2020",4.0,CU GS25 7/11 ministop,9,5,7,4,15
1,"pictoman(1,959)",Kloud Original Gravity,"April 22, 2020",2.0,CU GS25 7/11 ministop,3,3,4,3,7
2,"snoworsummer(8,581)",Kloud Original Gravity,"March 7, 2020",3.0,CU GS25 7/11 ministop,6,3,6,3,12

In [172]:
beer656.head(3)

,아이디,맥주,날짜,평점,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,"hopihalido(1,454)","5,0 Original Pils","December 19, 2020",1.2,NaN,2,1,2,2,5
1,AndreiProdan(213),"5,0 Original Pils","December 18, 2020",2.4,NaN,5,2,5,2,10
2,Badylatko(469),"5,0 Original Pils","September 24, 2020",2.1,NaN,4,2,4,3,8

In [173]:
beer = pd.concat([beer76, beer656])
beer.head(3)

,아이디,맥주,날짜,평점,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,patjenner(3),Kloud Original Gravity,"December 31, 2020",4.0,CU GS25 7/11 ministop,9,5,7,4,15
1,"pictoman(1,959)",Kloud Original Gravity,"April 22, 2020",2.0,CU GS25 7/11 ministop,3,3,4,3,7
2,"snoworsummer(8,581)",Kloud Original Gravity,"March 7, 2020",3.0,CU GS25 7/11 ministop,6,3,6,3,12

In [174]:
beer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278573 entries, 0 to 1
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   아이디         278573 non-null  object
 1   맥주          278573 non-null  object
 2   날짜          278573 non-null  object
 3   평점          278573 non-null  float64
 4   편의점         76287 non-null   object
 5   Aroma       278573 non-null  int64
 6   Appearance  278573 non-null  int64
 7   Flavor      278573 non-null  int64
 8   Mouthfeel   278573 non-null  int64
 9   Overall     278573 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 23.4+ MB

In [175]:
beer.to_csv('732개_맥주_데이터.csv', encoding='utf-8')

In [176]:
beer

,아이디,맥주,날짜,평점,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,patjenner(3),Kloud Original Gravity,"December 31, 2020",4.0,CU GS25 7/11 ministop,9,5,7,4,15
1,"pictoman(1,959)",Kloud Original Gravity,"April 22, 2020",2.0,CU GS25 7/11 ministop,3,3,4,3,7
2,"snoworsummer(8,581)",Kloud Original Gravity,"March 7, 2020",3.0,CU GS25 7/11 ministop,6,3,6,3,12
3,mickmac(726),Kloud Original Gravity,"February 20, 2020",2.9,CU GS25 7/11 ministop,5,4,4,4,12
4,"GuideDogSaint(2,549)",Kloud Original Gravity,"February 8, 2020",2.2,CU GS25 7/11 ministop,4,2,5,2,9
...,...,...,...,...,...,...,...,...,...,...
12,Yankovitch333(612),Pilsen (Costa Rica),"April 8, 2005",2.5,NaN,4,2,5,2,12
13,booyaatribe(453),Pilsen (Costa Rica),"January 3, 2003",1.0,NaN,2,2,2,2,2
14,"Kaya161(1,142)",Pilsen (Costa Rica),"September 25, 2002",0.9,NaN,2,1,2,1,3
0,"MartinT(10,698)",Pilsen (Costa Rica),"August 3, 2002",0.7,NaN,1,2,2,1,1
1,tico0199(1),Pilsen (Costa Rica),"January 11, 2002",3.9,NaN,10,5,10,5,9