In [2]:
import pandas as pd


pd.set_option('display.max_rows', 100)

In [14]:
beer = pd.read_csv('76개_맥주_데이터.csv', encoding='utf-8', index_col=0)
beer_kind = pd.read_csv('맥주_종류별_평점.csv', encoding='utf-8', index_col=0)

In [17]:
beer.head()

,아이디,맥주,날짜,평점,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,patjenner(3),Kloud Original Gravity,"December 31, 2020",4.0,CU GS25 7/11 ministop,9,5,7,4,15
1,"pictoman(1,959)",Kloud Original Gravity,"April 22, 2020",2.0,CU GS25 7/11 ministop,3,3,4,3,7
2,"snoworsummer(8,581)",Kloud Original Gravity,"March 7, 2020",3.0,CU GS25 7/11 ministop,6,3,6,3,12
3,mickmac(726),Kloud Original Gravity,"February 20, 2020",2.9,CU GS25 7/11 ministop,5,4,4,4,12
4,"GuideDogSaint(2,549)",Kloud Original Gravity,"February 8, 2020",2.2,CU GS25 7/11 ministop,4,2,5,2,9

In [16]:
beer_kind.head()

,맥주,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Kloud Original Gravity,CU GS25 7/11 ministop,4.292929,2.898990,4.444444,2.565657,8.808081
0,Kloud Fitz Super Clear,CU GS25 7/11 ministop,3.880000,2.440000,3.600000,2.080000,7.640000
0,Asahi Super Dry,CU GS25 7/11 ministop,3.904594,2.644624,4.336699,2.466936,8.575972
0,Tsingtao,CU GS25 7/11 ministop,3.744123,2.413201,4.098553,2.337703,7.987342
1,Heineken,CU GS25 7/11 ministop,3.765062,2.653520,4.281636,2.429712,8.460682