In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('크롤링_원본데이터.csv', encoding='utf-8', index_col=0)

In [3]:
data.head()

,맥주이름,맥주정보,편의점
0,Kloud Original Gravity,"patjenner(3)\n4.0December 31, 2020\nStrong hop...",CU GS25 7/11 ministop
1,Kloud Original Gravity,"pictoman(1,959)\n🇨🇦Vancouver, Canada\n2.0April...",CU GS25 7/11 ministop
2,Kloud Original Gravity,"snoworsummer(8,581)\n🇺🇸baltimore, United State...",CU GS25 7/11 ministop
3,Kloud Original Gravity,"mickmac(726)\n🇦🇺Ngunnawal, Australia\n2.9Febru...",CU GS25 7/11 ministop
4,Kloud Original Gravity,"GuideDogSaint(2,549)\n🇨🇳Xiamen, China\n2.2Febr...",CU GS25 7/11 ministop

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109627 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   맥주이름    109627 non-null  object
 1   맥주정보    109627 non-null  object
 2   편의점     109627 non-null  object
dtypes: object(3)
memory usage: 3.3+ MB

In [5]:
# 맥주정보 Raw 데이터값
data['맥주정보'].iloc[0]

'patjenner(3)\n4.0December 31, 2020\nStrong hoppy flavor. Bavarian style. Ok but not fantastic. Needs to be super cold.…\nShow more\nAroma\n9\nAppearance\n5\nFlavor\n7\nMouthfeel\n4\nOverall\n15'

## 전처리 1단계 - 문자열 분리하기('\n')

In [6]:
# tmp 변수에 카피
tmp = data.copy()

In [7]:
# \n 개행문자 기준으로 분리
tmp['맥주정보'] = tmp['맥주정보'].str.split('\n')
tmp['맥주정보']

0    [patjenner(3), 4.0December 31, 2020, Strong ho...
1    [pictoman(1,959), 🇨🇦Vancouver, Canada, 2.0Apri...
2    [snoworsummer(8,581), 🇺🇸baltimore, United Stat...
3    [mickmac(726), 🇦🇺Ngunnawal, Australia, 2.9Febr...
4    [GuideDogSaint(2,549), 🇨🇳Xiamen, China, 2.2Feb...
                           ...
3    [TedE(2,324), 🇦🇺Glen Innes, Australia, 3.4Augu...
4    [KansaiBeerLvrs(7,283), 🇯🇵Kyoto, Japan, 3.1May...
5    [cubs(10,772), 🇺🇸Fort Collins, United States, ...
6    [arminjewell(9,756), 🇺🇸East Lansing, United St...
7    [Fatehunter(3,190), 🇺🇸Corbett, United States, ...
Name: 맥주정보, Length: 109627, dtype: object

In [8]:
# 특이점 확인 : 0,1,2,3번째 리스트 요소까지 잘라야함.
for i in range(75252, 75255):
    print(tmp['맥주정보'].iloc[i], '\n')

['BeerLimey(2,277)', '🇺🇸Desert Hot Springs, United States', '1.2May 30, 2003', "You can't get away from it..............................................", 'Aroma', '2', 'Appearance', '2', 'Flavor', '3', 'Mouthfeel', '1', 'Overall', '4']

['G', 'Got Stout?(173)', '🇺🇸United States', '1.8May 23, 2001', 'And it is written:  God bless all the Macros, and may they all burn in a very cheap, bitter/sweet/flat,…', 'Show more', 'Aroma', '3', 'Appearance', '2', 'Flavor', '5', 'Mouthfeel', '2', 'Overall', '6']

['Tippie4(97)', '🇺🇸Auburn, United States', '2.5May 21, 2001', '............................................................................', 'Aroma', '5', 'Appearance', '2', 'Flavor', '5', 'Mouthfeel', '4', 'Overall', '9']

In [9]:
# 분리된 스트링 값 확인 -> List로 변환됨
tmp['맥주정보'].iloc[0]

['patjenner(3)',
 '4.0December 31, 2020',
 'Strong hoppy flavor. Bavarian style. Ok but not fantastic. Needs to be super cold.…',
 'Show more',
 'Aroma',
 '9',
 'Appearance',
 '5',
 'Flavor',
 '7',
 'Mouthfeel',
 '4',
 'Overall',
 '15']

In [10]:
# 맥주 정보에 좋아요 수가 포함된 리스트도 있음
tmp['맥주정보'].iloc[10]

['Viper666.Qc(10,484)',
 '🇨🇦Richelieu, Canada',
 '2.7September 6, 2019',
 'Dégustée le 2019-08-19.                                                                                                                                             .',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '10',
 '1']

In [11]:
# 맥주 정보 리스트 길이 출력
for i in range(10):
    print(len(tmp['맥주정보'].iloc[i]), end=' ')

14 14 14 16 14 17 16 16 15 14

In [12]:
# 맥주 정보 리스트 길이 저장
tmp['길이'] = tmp['맥주정보'].apply(lambda x : len(x))

In [13]:
tmp.head(3)

,맥주이름,맥주정보,편의점,길이
0,Kloud Original Gravity,"[patjenner(3), 4.0December 31, 2020, Strong ho...",CU GS25 7/11 ministop,14
1,Kloud Original Gravity,"[pictoman(1,959), 🇨🇦Vancouver, Canada, 2.0Apri...",CU GS25 7/11 ministop,14
2,Kloud Original Gravity,"[snoworsummer(8,581), 🇺🇸baltimore, United Stat...",CU GS25 7/11 ministop,14

In [14]:
print('최소값', min(tmp['길이']))
print('최대값', max(tmp['길이']))

최소값 13
최대값 19

In [15]:
long19 = tmp[tmp['길이'] == 19]
long18 = tmp[tmp['길이'] == 18]
long17 = tmp[tmp['길이'] == 17]
long16 = tmp[tmp['길이'] == 16]
long15 = tmp[tmp['길이'] == 15]
long14 = tmp[tmp['길이'] == 14]
long13 = tmp[tmp['길이'] == 13]

In [16]:
# 0,1,2 그리고 뒤에서 10개
long19['맥주정보'].iloc[0]

['DocuDrinks(1,210)',
 '🇱🇻Riga, Latvia',
 '2.3April 13, 2020',
 '4.7% alcohol',
 'Smell-weak, maybe hops, maybe bit metallic.',
 'Foam- thin, weak hops and weak bitter notes. Head is…',
 'Show more',
 'CAN',
 '@ Riga Spirits & Wine Outlet',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '4',
 'Mouthfeel',
 '2',
 'Overall',
 '9']

In [17]:
# 0, 1, 2 그리고 뒤에서 10개
long18['맥주정보'].iloc[0]

['JuiceStain(12)',
 '🇦🇺Australia',
 '2.3October 15, 2020',
 'Light and crispy.',
 'Bitter and sour at the start, some corn, and a metallic tang. ',
 'Crisp and dry. Would go well with any food just like the rest of the…',
 'Show more',
 'CAN',
 'Aroma',
 '4',
 'Appearance',
 '3',
 'Flavor',
 '4',
 'Mouthfeel',
 '2',
 'Overall',
 '10']

In [18]:
s_list = long19['맥주정보'].iloc[0]
s_list

['DocuDrinks(1,210)',
 '🇱🇻Riga, Latvia',
 '2.3April 13, 2020',
 '4.7% alcohol',
 'Smell-weak, maybe hops, maybe bit metallic.',
 'Foam- thin, weak hops and weak bitter notes. Head is…',
 'Show more',
 'CAN',
 '@ Riga Spirits & Wine Outlet',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '4',
 'Mouthfeel',
 '2',
 'Overall',
 '9']

In [19]:
# 앞에서부터 0,1,2,3번째 리스트 요소 + 뒤에서부터 10개 요소 합
s_list = s_list[:4] + s_list[:-11:-1]
s_list

['DocuDrinks(1,210)',
 '🇱🇻Riga, Latvia',
 '2.3April 13, 2020',
 '4.7% alcohol',
 '9',
 'Overall',
 '2',
 'Mouthfeel',
 '4',
 'Flavor',
 '3',
 'Appearance',
 '5',
 'Aroma']

## 전처리 2단계 - 좋아요 수 삭제하기

In [20]:
ttmp = tmp.copy()
ttmp.head(3)

,맥주이름,맥주정보,편의점,길이
0,Kloud Original Gravity,"[patjenner(3), 4.0December 31, 2020, Strong ho...",CU GS25 7/11 ministop,14
1,Kloud Original Gravity,"[pictoman(1,959), 🇨🇦Vancouver, Canada, 2.0Apri...",CU GS25 7/11 ministop,14
2,Kloud Original Gravity,"[snoworsummer(8,581), 🇺🇸baltimore, United Stat...",CU GS25 7/11 ministop,14

In [21]:
# 맥주정보 리스트 출력 : 좋아요 수가 기록된 유저 정보
ttmp['맥주정보'].iloc[10]

['Viper666.Qc(10,484)',
 '🇨🇦Richelieu, Canada',
 '2.7September 6, 2019',
 'Dégustée le 2019-08-19.                                                                                                                                             .',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '10',
 '1']

In [22]:
# 맨 뒤의 좋아요 수 제거 방법
tlist = ttmp['맥주정보'].iloc[10][:-1]
tlist

['Viper666.Qc(10,484)',
 '🇨🇦Richelieu, Canada',
 '2.7September 6, 2019',
 'Dégustée le 2019-08-19.                                                                                                                                             .',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '10']

In [23]:
# 전체 데이터프레임에서 좋아요가 1개인 것 찾아서 맨 뒤에 것 삭제
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x : x if x[-2]=='Overall' else x[:-1] )

In [24]:
# 맥주정보에서 0,1,2,3번째 리스트 요소와 뒤에서부터 10개의 리스트요소(평점값들)추출
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x : x[:4]+x[:-11:-1])

In [25]:
# 좋아요 수가 정상적으로 삭제됨
ttmp['맥주정보'].iloc[10]

['Viper666.Qc(10,484)',
 '🇨🇦Richelieu, Canada',
 '2.7September 6, 2019',
 'Dégustée le 2019-08-19.                                                                                                                                             .',
 '10',
 'Overall',
 '3',
 'Mouthfeel',
 '6',
 'Flavor',
 '3',
 'Appearance',
 '5',
 'Aroma']

In [26]:
# 맥주 정보값 출력
for i in range(8,11):
    print(ttmp['맥주정보'].iloc[i], '\n')

['mkel07(8,991)', '🇦🇺Brisbane, Australia', '2.4October 11, 2019', 'Can from Charmies Liquor on 11 October 2019. This is your typical Pale Lager but I guess it’s okay for a quick Friday afternoon knock off beer.', '10', 'Overall', '2', 'Mouthfeel', '5', 'Flavor', '2', 'Appearance', '5', 'Aroma']

['bladerunner53(18)', '🇳🇱Netherlands', '2.5October 9, 2019', 'Choi’s Craft Beer House, cafe in Busan, Korea. Getapt een beetje zoetig. Ik zou zeggen IPA achtig, geen tweede besteld.', '-', 'Overall', '-', 'Mouthfeel', '-', 'Flavor', '-', 'Appearance', '-', 'Aroma']

['Viper666.Qc(10,484)', '🇨🇦Richelieu, Canada', '2.7September 6, 2019', 'Dégustée le 2019-08-19.                                                                                                                                             .', '10', 'Overall', '3', 'Mouthfeel', '6', 'Flavor', '3', 'Appearance', '5', 'Aroma']

## 전처리 3단계 - 실제 컬럼으로 데이터 추출

In [27]:
ttmp['맥주정보'].iloc[0]

['patjenner(3)',
 '4.0December 31, 2020',
 'Strong hoppy flavor. Bavarian style. Ok but not fantastic. Needs to be super cold.…',
 'Show more',
 '15',
 'Overall',
 '4',
 'Mouthfeel',
 '7',
 'Flavor',
 '5',
 'Appearance',
 '9',
 'Aroma']

In [28]:
# 맨 첫번째 리스트 요소에 ID 저장
# 그 뒤로는 뒤에서부터 각 평가값 저장
ttmp['ID'] = ttmp['맥주정보'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['맥주정보'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['맥주정보'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['맥주정보'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['맥주정보'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['맥주정보'].apply(lambda x: x[-10])

# 리스트의 1,2,3번째 요소만(평점날짜 or 이상한 값) 뽑아오기
ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x:x[1:4])
ttmp['길이'] = ttmp['맥주정보'].apply(lambda x:len(x))

In [29]:
# 결과 확인
ttmp.head(3)

,맥주이름,맥주정보,편의점,길이,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Kloud Original Gravity,"[4.0December 31, 2020, Strong hoppy flavor. Ba...",CU GS25 7/11 ministop,3,patjenner(3),9,5,7,4,15
1,Kloud Original Gravity,"[🇨🇦Vancouver, Canada, 2.0April 22, 2020, Poure...",CU GS25 7/11 ministop,3,"pictoman(1,959)",3,3,4,3,7
2,Kloud Original Gravity,"[🇺🇸baltimore, United States, 3.0March 7, 2020,...",CU GS25 7/11 ministop,3,"snoworsummer(8,581)",6,3,6,3,12

## 전처리 4단계 - 국적이 없(있)는 데이터로부터 평점,날짜 추출

In [30]:
# 0, 1, 2번째 요소 중 뽑아낼 데이터의 위치가 불분명
ttmp['맥주정보'].iloc[0]

['4.0December 31, 2020',
 'Strong hoppy flavor. Bavarian style. Ok but not fantastic. Needs to be super cold.…',
 'Show more']

In [31]:
# 0, 1, 2번째 요소 중 뽑아낼 데이터의 위치가 불분명
for i in range(5):
    print(ttmp['맥주정보'].iloc[i], '\n')

['4.0December 31, 2020', 'Strong hoppy flavor. Bavarian style. Ok but not fantastic. Needs to be super cold.…', 'Show more']

['🇨🇦Vancouver, Canada', '2.0April 22, 2020', 'Poured from 330mL bottle. Clear gold with white head. Light grain with a mild sweetness. Inoffensive lager.']

['🇺🇸baltimore, United States', '3.0March 7, 2020', 'Bottle. Tastes like dough, corn, grass, smooth and mild. Light body and low/medium carbonation. Smells like dough, grass, corn, and faint toffee.']

['🇦🇺Ngunnawal, Australia', '2.9February 20, 2020', 'Pours with a brilliant clear gold body and a moderate sized white head. Aroma-taste of grain and bread crust with a faint herbal background and a clean finish. Light-medium bodied with…']

['🇨🇳Xiamen, China', '2.2February 8, 2020', 'Small can from a supermarket in Phnom Penh. Pours golden yellow with a dissipating white head. Aroma of malt. Hint of lemon in the sweet taste. Sweet finish.']

In [32]:
# 특이점 확인 : 0번째, 1번째, 2번째 요소 중 뽑아낼 데이터의 위치가 불분명
for i in range(75252, 75255):
    print(ttmp['맥주정보'].iloc[i], '\n\n')

['🇺🇸Desert Hot Springs, United States', '1.2May 30, 2003', "You can't get away from it.............................................."]


['Got Stout?(173)', '🇺🇸United States', '1.8May 23, 2001']


['🇺🇸Auburn, United States', '2.5May 21, 2001', '............................................................................']

In [33]:
# 4.0+알파벳으로 처리된 텍스트를 뽑아내기 위해 정규표현식 사용

import re

# ex) 4.0December 28, 2020 추출
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

In [34]:
# 정규표현식에 해당하는 문자열과 매칭되는 경우 해당 리스트 요소를 맥주정보에 저장
# reg.match()는 re.compile()의 정규표현식과 일치하는 문자열을 반환, 아니면 False를 반환
# 중첩 삼항 표현식 사용 : https://ooyoung.tistory.com/116

ttmp['맥주정보'] = ttmp['맥주정보'].apply(lambda x: x[0] if reg.match(x[0]) else 
                                  (x[1] if reg.match(x[1]) else x[2]))

In [35]:
# 결과 확인
ttmp.head()

,맥주이름,맥주정보,편의점,길이,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Kloud Original Gravity,"4.0December 31, 2020",CU GS25 7/11 ministop,3,patjenner(3),9,5,7,4,15
1,Kloud Original Gravity,"2.0April 22, 2020",CU GS25 7/11 ministop,3,"pictoman(1,959)",3,3,4,3,7
2,Kloud Original Gravity,"3.0March 7, 2020",CU GS25 7/11 ministop,3,"snoworsummer(8,581)",6,3,6,3,12
3,Kloud Original Gravity,"2.9February 20, 2020",CU GS25 7/11 ministop,3,mickmac(726),5,4,4,4,12
4,Kloud Original Gravity,"2.2February 8, 2020",CU GS25 7/11 ministop,3,"GuideDogSaint(2,549)",4,2,5,2,9

In [36]:
# 특이점 확인 : 원하는 평점 + 날자값이 정상적으로 추출됨
for i in range(75250, 75260):
    print(ttmp['맥주정보'].iloc[i])

2.6May 30, 2001
1.0May 24, 2001
1.2May 30, 2003
1.8May 23, 2001
2.5May 21, 2001
1.3May 16, 2001
1.3May 15, 2001
2.2May 15, 2001
0.7May 15, 2001
0.7May 14, 2001

## 전처리 5단계 - 평점과 날짜 데이터 분리

In [37]:
# 평점은 0번째부터 3번째, 날짜는 그 이후 문자열로 처리
ttmp['평점'] = ttmp['맥주정보'].apply(lambda x : x[:3])
ttmp['날짜'] = ttmp['맥주정보'].apply(lambda x : x[3:])

In [38]:
ttmp.head(3)

,맥주이름,맥주정보,편의점,길이,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,평점,날짜
0,Kloud Original Gravity,"4.0December 31, 2020",CU GS25 7/11 ministop,3,patjenner(3),9,5,7,4,15,4.0,"December 31, 2020"
1,Kloud Original Gravity,"2.0April 22, 2020",CU GS25 7/11 ministop,3,"pictoman(1,959)",3,3,4,3,7,2.0,"April 22, 2020"
2,Kloud Original Gravity,"3.0March 7, 2020",CU GS25 7/11 ministop,3,"snoworsummer(8,581)",6,3,6,3,12,3.0,"March 7, 2020"

In [39]:
ttmp.columns

Index(['맥주이름', '맥주정보', '편의점', '길이', 'ID', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', '평점', '날짜'],
      dtype='object')

In [40]:
# 컬럼명 변경
ttmp.columns = ['맥주', '맥주정보', '편의점', '길이', '아이디', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', '평점', '날짜']

In [41]:
# 필요한 컬럼만 추출
ttmp = ttmp[['아이디', '맥주', '날짜', '평점', '편의점', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall']]

In [42]:
ttmp.head(3)

,아이디,맥주,날짜,평점,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,patjenner(3),Kloud Original Gravity,"December 31, 2020",4.0,CU GS25 7/11 ministop,9,5,7,4,15
1,"pictoman(1,959)",Kloud Original Gravity,"April 22, 2020",2.0,CU GS25 7/11 ministop,3,3,4,3,7
2,"snoworsummer(8,581)",Kloud Original Gravity,"March 7, 2020",3.0,CU GS25 7/11 ministop,6,3,6,3,12

In [43]:
# 좋아요 수가 표시된 특이점 데이터 다시 한 번 확인
ttmp[ttmp['아이디'].str.contains('Viper666.Qc')].head(3)

,아이디,맥주,날짜,평점,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
10,"Viper666.Qc(10,484)",Kloud Original Gravity,"September 6, 2019",2.7,CU GS25 7/11 ministop,5,3,6,3,10
825,"Viper666.Qc(10,484)",Asahi Super Dry,"January 4, 2013",2.2,CU GS25 7/11 ministop,5,3,4,2,8
308,"Viper666.Qc(10,484)",Tsingtao,"March 7, 2016",1.9,CU GS25 7/11 ministop,4,2,4,2,7

In [44]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109627 entries, 0 to 7
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   아이디         109627 non-null  object
 1   맥주          109627 non-null  object
 2   날짜          109627 non-null  object
 3   평점          109627 non-null  object
 4   편의점         109627 non-null  object
 5   Aroma       109627 non-null  object
 6   Appearance  109627 non-null  object
 7   Flavor      109627 non-null  object
 8   Mouthfeel   109627 non-null  object
 9   Overall     109627 non-null  object
dtypes: object(10)
memory usage: 9.2+ MB

# 문제 발생 : 평점 데이터 추출이 잘못됨 --> 해결

### 1. 아이디, 국적, 평점+날짜, 리뷰 문제 발생
### 아이디, 국적, 이상한값, 평점+날짜, 리뷰 순인 데이터 발생 --> 4번째까지 고려함으로써 해결

### 2. 세부 리뷰 평점이 '-'인 값 때문에 오류 발생 -> 삭제함으로써 해결

In [45]:
# 문제 발생 : 평점 데이터 추출이 잘못됨 --> 해결
ttmp.iloc[75253]

아이디                               G
맥주                        Budweiser
날짜                     May 23, 2001
평점                              1.8
편의점           CU GS25 7/11 ministop
Aroma                             3
Appearance                        2
Flavor                            5
Mouthfeel                         2
Overall                           6
Name: 4323, dtype: object

In [46]:
ttmp.iloc[9]

아이디                bladerunner53(18)
맥주            Kloud Original Gravity
날짜                   October 9, 2019
평점                               2.5
편의점            CU GS25 7/11 ministop
Aroma                              -
Appearance                         -
Flavor                             -
Mouthfeel                          -
Overall                            -
Name: 9, dtype: object

In [47]:
# 문제 발생 : 세부 리뷰 평점이 '-'인 경우 발생
ttmp[ttmp['Aroma']=='-']

,아이디,맥주,날짜,평점,편의점,Aroma,Appearance,Flavor,Mouthfeel,Overall
9,bladerunner53(18),Kloud Original Gravity,"October 9, 2019",2.5,CU GS25 7/11 ministop,-,-,-,-,-
12,GIANNISONG(8),Kloud Original Gravity,"July 20, 2019",2.0,CU GS25 7/11 ministop,-,-,-,-,-
21,YM(1),Kloud Original Gravity,"September 13, 2019",3.0,CU GS25 7/11 ministop,-,-,-,-,-
39,"Skarecrow(1,734)",Kloud Original Gravity,"April 8, 2018",2.5,CU GS25 7/11 ministop,-,-,-,-,-
7,통통냥이코(6),Kloud Fitz Super Clear,"January 28, 2019",2.3,CU GS25 7/11 ministop,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...
128,haldex(89),Warsteiner Premium Verum,"May 27, 2018",2.5,7/11,-,-,-,-,-
178,PilsnerMeister42(17),Warsteiner Premium Verum,"September 29, 2017",4.0,7/11,-,-,-,-,-
188,pj007(9),Warsteiner Premium Verum,"September 1, 2017",2.6,7/11,-,-,-,-,-
197,"angel77(5,902)",Warsteiner Premium Verum,"August 7, 2017",2.0,7/11,-,-,-,-,-
199,"KoNrRiI(2,146)",Warsteiner Premium Verum,"July 26, 2017",1.8,7/11,-,-,-,-,-

In [48]:
# 세부 리뷰 값이 '-'가 아닌 데이터만 저장
ttmp = ttmp[ttmp['Aroma']!='-']
ttmp = ttmp[ttmp['Appearance']!='-']
ttmp = ttmp[ttmp['Flavor']!='-']
ttmp = ttmp[ttmp['Mouthfeel']!='-']
ttmp = ttmp[ttmp['Overall']!='-']

In [49]:
# 문제 발생 : 세부 리뷰 평점이 '-'인 경우 발생 --> 해결
ttmp[ttmp['Aroma']=='-']

Empty DataFrame
Columns: [아이디, 맥주, 날짜, 평점, 편의점, Aroma, Appearance, Flavor, Mouthfeel, Overall]
Index: []

In [50]:
# 수치형 데이터는 실수로 변환 : pd.to_numeric() 함수 사용
ttmp['평점'] = pd.to_numeric(ttmp['평점'])
ttmp['Aroma'] = pd.to_numeric(ttmp['Aroma'])
ttmp['Appearance'] = pd.to_numeric(ttmp['Appearance'])
ttmp['Flavor'] = pd.to_numeric(ttmp['Flavor'])
ttmp['Mouthfeel'] = pd.to_numeric(ttmp['Mouthfeel'])
ttmp['Overall'] = pd.to_numeric(ttmp['Overall'])

In [59]:
# 중복된 행들을 제거합니다.
ttmp.drop_duplicates(keep='first', inplace=True)

In [60]:
# 최종 데이터 확인
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76287 entries, 0 to 7
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   아이디         76287 non-null  object
 1   맥주          76287 non-null  object
 2   날짜          76287 non-null  object
 3   평점          76287 non-null  float64
 4   편의점         76287 non-null  object
 5   Aroma       76287 non-null  int64
 6   Appearance  76287 non-null  int64
 7   Flavor      76287 non-null  int64
 8   Mouthfeel   76287 non-null  int64
 9   Overall     76287 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 6.4+ MB

In [61]:
# 최종 데이터 값 분포 확인
ttmp.describe()

,평점,Aroma,Appearance,Flavor,Mouthfeel,Overall
count,76287.000000,76287.000000,76287.000000,76287.000000,76287.000000,76287.000000
mean,2.701181,4.989081,3.135672,5.318508,2.852688,10.715587
std,0.940613,2.024196,1.052534,2.011186,0.982521,4.275328
min,0.500000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,3.000000,2.000000,4.000000,2.000000,8.000000
50%,2.700000,5.000000,3.000000,5.000000,3.000000,11.000000
75%,3.400000,6.000000,4.000000,7.000000,3.000000,14.000000
max,5.000000,10.000000,5.000000,10.000000,5.000000,20.000000

In [62]:
ttmp.to_csv('76개_맥주_데이터.csv', encoding='utf-8')