In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('í¬ë¡¤ë§_ì›ë³¸ë°ì´í„°.csv', encoding='utf-8', index_col=0)

In [3]:
data.head()

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,í¸ì˜ì
0,Kloud Original Gravity,"patjenner(3)\n4.0December 31, 2020\nStrong hop...",CU GS25 7/11 ministop
1,Kloud Original Gravity,"pictoman(1,959)\nğŸ‡¨ğŸ‡¦Vancouver, Canada\n2.0April...",CU GS25 7/11 ministop
2,Kloud Original Gravity,"snoworsummer(8,581)\nğŸ‡ºğŸ‡¸baltimore, United State...",CU GS25 7/11 ministop
3,Kloud Original Gravity,"mickmac(726)\nğŸ‡¦ğŸ‡ºNgunnawal, Australia\n2.9Febru...",CU GS25 7/11 ministop
4,Kloud Original Gravity,"GuideDogSaint(2,549)\nğŸ‡¨ğŸ‡³Xiamen, China\n2.2Febr...",CU GS25 7/11 ministop

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109627 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ë§¥ì£¼ì´ë¦„    109627 non-null  object
 1   ë§¥ì£¼ì •ë³´    109627 non-null  object
 2   í¸ì˜ì      109627 non-null  object
dtypes: object(3)
memory usage: 3.3+ MB

In [5]:
# ë§¥ì£¼ì •ë³´ Raw ë°ì´í„°ê°’
data['ë§¥ì£¼ì •ë³´'].iloc[0]

'patjenner(3)\n4.0December 31, 2020\nStrong hoppy flavor. Bavarian style. Ok but not fantastic. Needs to be super cold.â€¦\nShow more\nAroma\n9\nAppearance\n5\nFlavor\n7\nMouthfeel\n4\nOverall\n15'

## ì „ì²˜ë¦¬ 1ë‹¨ê³„ - ë¬¸ìì—´ ë¶„ë¦¬í•˜ê¸°('\n')

In [6]:
# tmp ë³€ìˆ˜ì— ì¹´í”¼
tmp = data.copy()

In [7]:
# \n ê°œí–‰ë¬¸ì ê¸°ì¤€ìœ¼ë¡œ ë¶„ë¦¬
tmp['ë§¥ì£¼ì •ë³´'] = tmp['ë§¥ì£¼ì •ë³´'].str.split('\n')
tmp['ë§¥ì£¼ì •ë³´']

0    [patjenner(3), 4.0December 31, 2020, Strong ho...
1    [pictoman(1,959), ğŸ‡¨ğŸ‡¦Vancouver, Canada, 2.0Apri...
2    [snoworsummer(8,581), ğŸ‡ºğŸ‡¸baltimore, United Stat...
3    [mickmac(726), ğŸ‡¦ğŸ‡ºNgunnawal, Australia, 2.9Febr...
4    [GuideDogSaint(2,549), ğŸ‡¨ğŸ‡³Xiamen, China, 2.2Feb...
                           ...
3    [TedE(2,324), ğŸ‡¦ğŸ‡ºGlen Innes, Australia, 3.4Augu...
4    [KansaiBeerLvrs(7,283), ğŸ‡¯ğŸ‡µKyoto, Japan, 3.1May...
5    [cubs(10,772), ğŸ‡ºğŸ‡¸Fort Collins, United States, ...
6    [arminjewell(9,756), ğŸ‡ºğŸ‡¸East Lansing, United St...
7    [Fatehunter(3,190), ğŸ‡ºğŸ‡¸Corbett, United States, ...
Name: ë§¥ì£¼ì •ë³´, Length: 109627, dtype: object

In [8]:
# íŠ¹ì´ì  í™•ì¸ : 0,1,2,3ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œê¹Œì§€ ì˜ë¼ì•¼í•¨.
for i in range(75252, 75255):
    print(tmp['ë§¥ì£¼ì •ë³´'].iloc[i], '\n')

['BeerLimey(2,277)', 'ğŸ‡ºğŸ‡¸Desert Hot Springs, United States', '1.2May 30, 2003', "You can't get away from it..............................................", 'Aroma', '2', 'Appearance', '2', 'Flavor', '3', 'Mouthfeel', '1', 'Overall', '4']

['G', 'Got Stout?(173)', 'ğŸ‡ºğŸ‡¸United States', '1.8May 23, 2001', 'And it is written:  God bless all the Macros, and may they all burn in a very cheap, bitter/sweet/flat,â€¦', 'Show more', 'Aroma', '3', 'Appearance', '2', 'Flavor', '5', 'Mouthfeel', '2', 'Overall', '6']

['Tippie4(97)', 'ğŸ‡ºğŸ‡¸Auburn, United States', '2.5May 21, 2001', '............................................................................', 'Aroma', '5', 'Appearance', '2', 'Flavor', '5', 'Mouthfeel', '4', 'Overall', '9']

In [9]:
# ë¶„ë¦¬ëœ ìŠ¤íŠ¸ë§ ê°’ í™•ì¸ -> Listë¡œ ë³€í™˜ë¨
tmp['ë§¥ì£¼ì •ë³´'].iloc[0]

['patjenner(3)',
 '4.0December 31, 2020',
 'Strong hoppy flavor. Bavarian style. Ok but not fantastic. Needs to be super cold.â€¦',
 'Show more',
 'Aroma',
 '9',
 'Appearance',
 '5',
 'Flavor',
 '7',
 'Mouthfeel',
 '4',
 'Overall',
 '15']

In [10]:
# ë§¥ì£¼ ì •ë³´ì— ì¢‹ì•„ìš” ìˆ˜ê°€ í¬í•¨ëœ ë¦¬ìŠ¤íŠ¸ë„ ìˆìŒ
tmp['ë§¥ì£¼ì •ë³´'].iloc[10]

['Viper666.Qc(10,484)',
 'ğŸ‡¨ğŸ‡¦Richelieu, Canada',
 '2.7September 6, 2019',
 'DÃ©gustÃ©e le 2019-08-19.                                                                                                                                             .',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '10',
 '1']

In [11]:
# ë§¥ì£¼ ì •ë³´ ë¦¬ìŠ¤íŠ¸ ê¸¸ì´ ì¶œë ¥
for i in range(10):
    print(len(tmp['ë§¥ì£¼ì •ë³´'].iloc[i]), end=' ')

14 14 14 16 14 17 16 16 15 14

In [12]:
# ë§¥ì£¼ ì •ë³´ ë¦¬ìŠ¤íŠ¸ ê¸¸ì´ ì €ì¥
tmp['ê¸¸ì´'] = tmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : len(x))

In [13]:
tmp.head(3)

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,í¸ì˜ì,ê¸¸ì´
0,Kloud Original Gravity,"[patjenner(3), 4.0December 31, 2020, Strong ho...",CU GS25 7/11 ministop,14
1,Kloud Original Gravity,"[pictoman(1,959), ğŸ‡¨ğŸ‡¦Vancouver, Canada, 2.0Apri...",CU GS25 7/11 ministop,14
2,Kloud Original Gravity,"[snoworsummer(8,581), ğŸ‡ºğŸ‡¸baltimore, United Stat...",CU GS25 7/11 ministop,14

In [14]:
print('ìµœì†Œê°’', min(tmp['ê¸¸ì´']))
print('ìµœëŒ€ê°’', max(tmp['ê¸¸ì´']))

ìµœì†Œê°’ 13
ìµœëŒ€ê°’ 19

In [15]:
long19 = tmp[tmp['ê¸¸ì´'] == 19]
long18 = tmp[tmp['ê¸¸ì´'] == 18]
long17 = tmp[tmp['ê¸¸ì´'] == 17]
long16 = tmp[tmp['ê¸¸ì´'] == 16]
long15 = tmp[tmp['ê¸¸ì´'] == 15]
long14 = tmp[tmp['ê¸¸ì´'] == 14]
long13 = tmp[tmp['ê¸¸ì´'] == 13]

In [16]:
# 0,1,2 ê·¸ë¦¬ê³  ë’¤ì—ì„œ 10ê°œ
long19['ë§¥ì£¼ì •ë³´'].iloc[0]

['DocuDrinks(1,210)',
 'ğŸ‡±ğŸ‡»Riga, Latvia',
 '2.3April 13, 2020',
 '4.7% alcohol',
 'Smell-weak, maybe hops, maybe bit metallic.',
 'Foam- thin, weak hops and weak bitter notes. Head isâ€¦',
 'Show more',
 'CAN',
 '@ Riga Spirits & Wine Outlet',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '4',
 'Mouthfeel',
 '2',
 'Overall',
 '9']

In [17]:
# 0, 1, 2 ê·¸ë¦¬ê³  ë’¤ì—ì„œ 10ê°œ
long18['ë§¥ì£¼ì •ë³´'].iloc[0]

['JuiceStain(12)',
 'ğŸ‡¦ğŸ‡ºAustralia',
 '2.3October 15, 2020',
 'Light and crispy.',
 'Bitter and sour at the start, some corn, and a metallic tang. ',
 'Crisp and dry. Would go well with any food just like the rest of theâ€¦',
 'Show more',
 'CAN',
 'Aroma',
 '4',
 'Appearance',
 '3',
 'Flavor',
 '4',
 'Mouthfeel',
 '2',
 'Overall',
 '10']

In [18]:
s_list = long19['ë§¥ì£¼ì •ë³´'].iloc[0]
s_list

['DocuDrinks(1,210)',
 'ğŸ‡±ğŸ‡»Riga, Latvia',
 '2.3April 13, 2020',
 '4.7% alcohol',
 'Smell-weak, maybe hops, maybe bit metallic.',
 'Foam- thin, weak hops and weak bitter notes. Head isâ€¦',
 'Show more',
 'CAN',
 '@ Riga Spirits & Wine Outlet',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '4',
 'Mouthfeel',
 '2',
 'Overall',
 '9']

In [19]:
# ì•ì—ì„œë¶€í„° 0,1,2,3ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œ + ë’¤ì—ì„œë¶€í„° 10ê°œ ìš”ì†Œ í•©
s_list = s_list[:4] + s_list[:-11:-1]
s_list

['DocuDrinks(1,210)',
 'ğŸ‡±ğŸ‡»Riga, Latvia',
 '2.3April 13, 2020',
 '4.7% alcohol',
 '9',
 'Overall',
 '2',
 'Mouthfeel',
 '4',
 'Flavor',
 '3',
 'Appearance',
 '5',
 'Aroma']

## ì „ì²˜ë¦¬ 2ë‹¨ê³„ - ì¢‹ì•„ìš” ìˆ˜ ì‚­ì œí•˜ê¸°

In [20]:
ttmp = tmp.copy()
ttmp.head(3)

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,í¸ì˜ì,ê¸¸ì´
0,Kloud Original Gravity,"[patjenner(3), 4.0December 31, 2020, Strong ho...",CU GS25 7/11 ministop,14
1,Kloud Original Gravity,"[pictoman(1,959), ğŸ‡¨ğŸ‡¦Vancouver, Canada, 2.0Apri...",CU GS25 7/11 ministop,14
2,Kloud Original Gravity,"[snoworsummer(8,581), ğŸ‡ºğŸ‡¸baltimore, United Stat...",CU GS25 7/11 ministop,14

In [21]:
# ë§¥ì£¼ì •ë³´ ë¦¬ìŠ¤íŠ¸ ì¶œë ¥ : ì¢‹ì•„ìš” ìˆ˜ê°€ ê¸°ë¡ëœ ìœ ì € ì •ë³´
ttmp['ë§¥ì£¼ì •ë³´'].iloc[10]

['Viper666.Qc(10,484)',
 'ğŸ‡¨ğŸ‡¦Richelieu, Canada',
 '2.7September 6, 2019',
 'DÃ©gustÃ©e le 2019-08-19.                                                                                                                                             .',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '10',
 '1']

In [22]:
# ë§¨ ë’¤ì˜ ì¢‹ì•„ìš” ìˆ˜ ì œê±° ë°©ë²•
tlist = ttmp['ë§¥ì£¼ì •ë³´'].iloc[10][:-1]
tlist

['Viper666.Qc(10,484)',
 'ğŸ‡¨ğŸ‡¦Richelieu, Canada',
 '2.7September 6, 2019',
 'DÃ©gustÃ©e le 2019-08-19.                                                                                                                                             .',
 'BOTTLE',
 'Aroma',
 '5',
 'Appearance',
 '3',
 'Flavor',
 '6',
 'Mouthfeel',
 '3',
 'Overall',
 '10']

In [23]:
# ì „ì²´ ë°ì´í„°í”„ë ˆì„ì—ì„œ ì¢‹ì•„ìš”ê°€ 1ê°œì¸ ê²ƒ ì°¾ì•„ì„œ ë§¨ ë’¤ì— ê²ƒ ì‚­ì œ
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : x if x[-2]=='Overall' else x[:-1] )

In [24]:
# ë§¥ì£¼ì •ë³´ì—ì„œ 0,1,2,3ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œì™€ ë’¤ì—ì„œë¶€í„° 10ê°œì˜ ë¦¬ìŠ¤íŠ¸ìš”ì†Œ(í‰ì ê°’ë“¤)ì¶”ì¶œ
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : x[:4]+x[:-11:-1])

In [25]:
# ì¢‹ì•„ìš” ìˆ˜ê°€ ì •ìƒì ìœ¼ë¡œ ì‚­ì œë¨
ttmp['ë§¥ì£¼ì •ë³´'].iloc[10]

['Viper666.Qc(10,484)',
 'ğŸ‡¨ğŸ‡¦Richelieu, Canada',
 '2.7September 6, 2019',
 'DÃ©gustÃ©e le 2019-08-19.                                                                                                                                             .',
 '10',
 'Overall',
 '3',
 'Mouthfeel',
 '6',
 'Flavor',
 '3',
 'Appearance',
 '5',
 'Aroma']

In [26]:
# ë§¥ì£¼ ì •ë³´ê°’ ì¶œë ¥
for i in range(8,11):
    print(ttmp['ë§¥ì£¼ì •ë³´'].iloc[i], '\n')

['mkel07(8,991)', 'ğŸ‡¦ğŸ‡ºBrisbane, Australia', '2.4October 11, 2019', 'Can from Charmies Liquor on 11 October 2019. This is your typical Pale Lager but I guess itâ€™s okay for a quick Friday afternoon knock off beer.', '10', 'Overall', '2', 'Mouthfeel', '5', 'Flavor', '2', 'Appearance', '5', 'Aroma']

['bladerunner53(18)', 'ğŸ‡³ğŸ‡±Netherlands', '2.5October 9, 2019', 'Choiâ€™s Craft Beer House, cafe in Busan, Korea. Getapt een beetje zoetig. Ik zou zeggen IPA achtig, geen tweede besteld.', '-', 'Overall', '-', 'Mouthfeel', '-', 'Flavor', '-', 'Appearance', '-', 'Aroma']

['Viper666.Qc(10,484)', 'ğŸ‡¨ğŸ‡¦Richelieu, Canada', '2.7September 6, 2019', 'DÃ©gustÃ©e le 2019-08-19.                                                                                                                                             .', '10', 'Overall', '3', 'Mouthfeel', '6', 'Flavor', '3', 'Appearance', '5', 'Aroma']

## ì „ì²˜ë¦¬ 3ë‹¨ê³„ - ì‹¤ì œ ì»¬ëŸ¼ìœ¼ë¡œ ë°ì´í„° ì¶”ì¶œ

In [27]:
ttmp['ë§¥ì£¼ì •ë³´'].iloc[0]

['patjenner(3)',
 '4.0December 31, 2020',
 'Strong hoppy flavor. Bavarian style. Ok but not fantastic. Needs to be super cold.â€¦',
 'Show more',
 '15',
 'Overall',
 '4',
 'Mouthfeel',
 '7',
 'Flavor',
 '5',
 'Appearance',
 '9',
 'Aroma']

In [28]:
# ë§¨ ì²«ë²ˆì§¸ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œì— ID ì €ì¥
# ê·¸ ë’¤ë¡œëŠ” ë’¤ì—ì„œë¶€í„° ê° í‰ê°€ê°’ ì €ì¥
ttmp['ID'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[0])
ttmp['Aroma'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-2])
ttmp['Appearance'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-4])
ttmp['Flavor'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-6])
ttmp['Mouthfeel'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-8])
ttmp['Overall'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[-10])

# ë¦¬ìŠ¤íŠ¸ì˜ 1,2,3ë²ˆì§¸ ìš”ì†Œë§Œ(í‰ì ë‚ ì§œ or ì´ìƒí•œ ê°’) ë½‘ì•„ì˜¤ê¸°
ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x:x[1:4])
ttmp['ê¸¸ì´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x:len(x))

In [29]:
# ê²°ê³¼ í™•ì¸
ttmp.head(3)

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,í¸ì˜ì,ê¸¸ì´,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Kloud Original Gravity,"[4.0December 31, 2020, Strong hoppy flavor. Ba...",CU GS25 7/11 ministop,3,patjenner(3),9,5,7,4,15
1,Kloud Original Gravity,"[ğŸ‡¨ğŸ‡¦Vancouver, Canada, 2.0April 22, 2020, Poure...",CU GS25 7/11 ministop,3,"pictoman(1,959)",3,3,4,3,7
2,Kloud Original Gravity,"[ğŸ‡ºğŸ‡¸baltimore, United States, 3.0March 7, 2020,...",CU GS25 7/11 ministop,3,"snoworsummer(8,581)",6,3,6,3,12

## ì „ì²˜ë¦¬ 4ë‹¨ê³„ - êµ­ì ì´ ì—†(ìˆ)ëŠ” ë°ì´í„°ë¡œë¶€í„° í‰ì ,ë‚ ì§œ ì¶”ì¶œ

In [30]:
# 0, 1, 2ë²ˆì§¸ ìš”ì†Œ ì¤‘ ë½‘ì•„ë‚¼ ë°ì´í„°ì˜ ìœ„ì¹˜ê°€ ë¶ˆë¶„ëª…
ttmp['ë§¥ì£¼ì •ë³´'].iloc[0]

['4.0December 31, 2020',
 'Strong hoppy flavor. Bavarian style. Ok but not fantastic. Needs to be super cold.â€¦',
 'Show more']

In [31]:
# 0, 1, 2ë²ˆì§¸ ìš”ì†Œ ì¤‘ ë½‘ì•„ë‚¼ ë°ì´í„°ì˜ ìœ„ì¹˜ê°€ ë¶ˆë¶„ëª…
for i in range(5):
    print(ttmp['ë§¥ì£¼ì •ë³´'].iloc[i], '\n')

['4.0December 31, 2020', 'Strong hoppy flavor. Bavarian style. Ok but not fantastic. Needs to be super cold.â€¦', 'Show more']

['ğŸ‡¨ğŸ‡¦Vancouver, Canada', '2.0April 22, 2020', 'Poured from 330mL bottle. Clear gold with white head. Light grain with a mild sweetness. Inoffensive lager.']

['ğŸ‡ºğŸ‡¸baltimore, United States', '3.0March 7, 2020', 'Bottle. Tastes like dough, corn, grass, smooth and mild. Light body and low/medium carbonation. Smells like dough, grass, corn, and faint toffee.']

['ğŸ‡¦ğŸ‡ºNgunnawal, Australia', '2.9February 20, 2020', 'Pours with a brilliant clear gold body and a moderate sized white head. Aroma-taste of grain and bread crust with a faint herbal background and a clean finish. Light-medium bodied withâ€¦']

['ğŸ‡¨ğŸ‡³Xiamen, China', '2.2February 8, 2020', 'Small can from a supermarket in Phnom Penh. Pours golden yellow with a dissipating white head. Aroma of malt. Hint of lemon in the sweet taste. Sweet finish.']

In [32]:
# íŠ¹ì´ì  í™•ì¸ : 0ë²ˆì§¸, 1ë²ˆì§¸, 2ë²ˆì§¸ ìš”ì†Œ ì¤‘ ë½‘ì•„ë‚¼ ë°ì´í„°ì˜ ìœ„ì¹˜ê°€ ë¶ˆë¶„ëª…
for i in range(75252, 75255):
    print(ttmp['ë§¥ì£¼ì •ë³´'].iloc[i], '\n\n')

['ğŸ‡ºğŸ‡¸Desert Hot Springs, United States', '1.2May 30, 2003', "You can't get away from it.............................................."]


['Got Stout?(173)', 'ğŸ‡ºğŸ‡¸United States', '1.8May 23, 2001']


['ğŸ‡ºğŸ‡¸Auburn, United States', '2.5May 21, 2001', '............................................................................']

In [33]:
# 4.0+ì•ŒíŒŒë²³ìœ¼ë¡œ ì²˜ë¦¬ëœ í…ìŠ¤íŠ¸ë¥¼ ë½‘ì•„ë‚´ê¸° ìœ„í•´ ì •ê·œí‘œí˜„ì‹ ì‚¬ìš©

import re

# ex) 4.0December 28, 2020 ì¶”ì¶œ
reg = re.compile('[0-9]+.+[0-9]+[A-Za-z0-9]*')

In [34]:
# ì •ê·œí‘œí˜„ì‹ì— í•´ë‹¹í•˜ëŠ” ë¬¸ìì—´ê³¼ ë§¤ì¹­ë˜ëŠ” ê²½ìš° í•´ë‹¹ ë¦¬ìŠ¤íŠ¸ ìš”ì†Œë¥¼ ë§¥ì£¼ì •ë³´ì— ì €ì¥
# reg.match()ëŠ” re.compile()ì˜ ì •ê·œí‘œí˜„ì‹ê³¼ ì¼ì¹˜í•˜ëŠ” ë¬¸ìì—´ì„ ë°˜í™˜, ì•„ë‹ˆë©´ Falseë¥¼ ë°˜í™˜
# ì¤‘ì²© ì‚¼í•­ í‘œí˜„ì‹ ì‚¬ìš© : https://ooyoung.tistory.com/116

ttmp['ë§¥ì£¼ì •ë³´'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x: x[0] if reg.match(x[0]) else 
                                  (x[1] if reg.match(x[1]) else x[2]))

In [35]:
# ê²°ê³¼ í™•ì¸
ttmp.head()

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,í¸ì˜ì,ê¸¸ì´,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,Kloud Original Gravity,"4.0December 31, 2020",CU GS25 7/11 ministop,3,patjenner(3),9,5,7,4,15
1,Kloud Original Gravity,"2.0April 22, 2020",CU GS25 7/11 ministop,3,"pictoman(1,959)",3,3,4,3,7
2,Kloud Original Gravity,"3.0March 7, 2020",CU GS25 7/11 ministop,3,"snoworsummer(8,581)",6,3,6,3,12
3,Kloud Original Gravity,"2.9February 20, 2020",CU GS25 7/11 ministop,3,mickmac(726),5,4,4,4,12
4,Kloud Original Gravity,"2.2February 8, 2020",CU GS25 7/11 ministop,3,"GuideDogSaint(2,549)",4,2,5,2,9

In [36]:
# íŠ¹ì´ì  í™•ì¸ : ì›í•˜ëŠ” í‰ì  + ë‚ ìê°’ì´ ì •ìƒì ìœ¼ë¡œ ì¶”ì¶œë¨
for i in range(75250, 75260):
    print(ttmp['ë§¥ì£¼ì •ë³´'].iloc[i])

2.6May 30, 2001
1.0May 24, 2001
1.2May 30, 2003
1.8May 23, 2001
2.5May 21, 2001
1.3May 16, 2001
1.3May 15, 2001
2.2May 15, 2001
0.7May 15, 2001
0.7May 14, 2001

## ì „ì²˜ë¦¬ 5ë‹¨ê³„ - í‰ì ê³¼ ë‚ ì§œ ë°ì´í„° ë¶„ë¦¬

In [37]:
# í‰ì ì€ 0ë²ˆì§¸ë¶€í„° 3ë²ˆì§¸, ë‚ ì§œëŠ” ê·¸ ì´í›„ ë¬¸ìì—´ë¡œ ì²˜ë¦¬
ttmp['í‰ì '] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : x[:3])
ttmp['ë‚ ì§œ'] = ttmp['ë§¥ì£¼ì •ë³´'].apply(lambda x : x[3:])

In [38]:
ttmp.head(3)

,ë§¥ì£¼ì´ë¦„,ë§¥ì£¼ì •ë³´,í¸ì˜ì,ê¸¸ì´,ID,Aroma,Appearance,Flavor,Mouthfeel,Overall,í‰ì,ë‚ ì§œ
0,Kloud Original Gravity,"4.0December 31, 2020",CU GS25 7/11 ministop,3,patjenner(3),9,5,7,4,15,4.0,"December 31, 2020"
1,Kloud Original Gravity,"2.0April 22, 2020",CU GS25 7/11 ministop,3,"pictoman(1,959)",3,3,4,3,7,2.0,"April 22, 2020"
2,Kloud Original Gravity,"3.0March 7, 2020",CU GS25 7/11 ministop,3,"snoworsummer(8,581)",6,3,6,3,12,3.0,"March 7, 2020"

In [39]:
ttmp.columns

Index(['ë§¥ì£¼ì´ë¦„', 'ë§¥ì£¼ì •ë³´', 'í¸ì˜ì ', 'ê¸¸ì´', 'ID', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', 'í‰ì ', 'ë‚ ì§œ'],
      dtype='object')

In [40]:
# ì»¬ëŸ¼ëª… ë³€ê²½
ttmp.columns = ['ë§¥ì£¼', 'ë§¥ì£¼ì •ë³´', 'í¸ì˜ì ', 'ê¸¸ì´', 'ì•„ì´ë””', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall', 'í‰ì ', 'ë‚ ì§œ']

In [41]:
# í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì¶”ì¶œ
ttmp = ttmp[['ì•„ì´ë””', 'ë§¥ì£¼', 'ë‚ ì§œ', 'í‰ì ', 'í¸ì˜ì ', 'Aroma', 'Appearance', 'Flavor',
       'Mouthfeel', 'Overall']]

In [42]:
ttmp.head(3)

,ì•„ì´ë””,ë§¥ì£¼,ë‚ ì§œ,í‰ì,í¸ì˜ì,Aroma,Appearance,Flavor,Mouthfeel,Overall
0,patjenner(3),Kloud Original Gravity,"December 31, 2020",4.0,CU GS25 7/11 ministop,9,5,7,4,15
1,"pictoman(1,959)",Kloud Original Gravity,"April 22, 2020",2.0,CU GS25 7/11 ministop,3,3,4,3,7
2,"snoworsummer(8,581)",Kloud Original Gravity,"March 7, 2020",3.0,CU GS25 7/11 ministop,6,3,6,3,12

In [43]:
# ì¢‹ì•„ìš” ìˆ˜ê°€ í‘œì‹œëœ íŠ¹ì´ì  ë°ì´í„° ë‹¤ì‹œ í•œ ë²ˆ í™•ì¸
ttmp[ttmp['ì•„ì´ë””'].str.contains('Viper666.Qc')].head(3)

,ì•„ì´ë””,ë§¥ì£¼,ë‚ ì§œ,í‰ì,í¸ì˜ì,Aroma,Appearance,Flavor,Mouthfeel,Overall
10,"Viper666.Qc(10,484)",Kloud Original Gravity,"September 6, 2019",2.7,CU GS25 7/11 ministop,5,3,6,3,10
825,"Viper666.Qc(10,484)",Asahi Super Dry,"January 4, 2013",2.2,CU GS25 7/11 ministop,5,3,4,2,8
308,"Viper666.Qc(10,484)",Tsingtao,"March 7, 2016",1.9,CU GS25 7/11 ministop,4,2,4,2,7

In [44]:
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109627 entries, 0 to 7
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ì•„ì´ë””         109627 non-null  object
 1   ë§¥ì£¼          109627 non-null  object
 2   ë‚ ì§œ          109627 non-null  object
 3   í‰ì           109627 non-null  object
 4   í¸ì˜ì          109627 non-null  object
 5   Aroma       109627 non-null  object
 6   Appearance  109627 non-null  object
 7   Flavor      109627 non-null  object
 8   Mouthfeel   109627 non-null  object
 9   Overall     109627 non-null  object
dtypes: object(10)
memory usage: 9.2+ MB

# ë¬¸ì œ ë°œìƒ : í‰ì  ë°ì´í„° ì¶”ì¶œì´ ì˜ëª»ë¨ --> í•´ê²°

### 1. ì•„ì´ë””, êµ­ì , í‰ì +ë‚ ì§œ, ë¦¬ë·° ë¬¸ì œ ë°œìƒ
### ì•„ì´ë””, êµ­ì , ì´ìƒí•œê°’, í‰ì +ë‚ ì§œ, ë¦¬ë·° ìˆœì¸ ë°ì´í„° ë°œìƒ --> 4ë²ˆì§¸ê¹Œì§€ ê³ ë ¤í•¨ìœ¼ë¡œì¨ í•´ê²°

### 2. ì„¸ë¶€ ë¦¬ë·° í‰ì ì´ '-'ì¸ ê°’ ë•Œë¬¸ì— ì˜¤ë¥˜ ë°œìƒ -> ì‚­ì œí•¨ìœ¼ë¡œì¨ í•´ê²°

In [45]:
# ë¬¸ì œ ë°œìƒ : í‰ì  ë°ì´í„° ì¶”ì¶œì´ ì˜ëª»ë¨ --> í•´ê²°
ttmp.iloc[75253]

ì•„ì´ë””                               G
ë§¥ì£¼                        Budweiser
ë‚ ì§œ                     May 23, 2001
í‰ì                               1.8
í¸ì˜ì            CU GS25 7/11 ministop
Aroma                             3
Appearance                        2
Flavor                            5
Mouthfeel                         2
Overall                           6
Name: 4323, dtype: object

In [46]:
ttmp.iloc[9]

ì•„ì´ë””                bladerunner53(18)
ë§¥ì£¼            Kloud Original Gravity
ë‚ ì§œ                   October 9, 2019
í‰ì                                2.5
í¸ì˜ì             CU GS25 7/11 ministop
Aroma                              -
Appearance                         -
Flavor                             -
Mouthfeel                          -
Overall                            -
Name: 9, dtype: object

In [47]:
# ë¬¸ì œ ë°œìƒ : ì„¸ë¶€ ë¦¬ë·° í‰ì ì´ '-'ì¸ ê²½ìš° ë°œìƒ
ttmp[ttmp['Aroma']=='-']

,ì•„ì´ë””,ë§¥ì£¼,ë‚ ì§œ,í‰ì,í¸ì˜ì,Aroma,Appearance,Flavor,Mouthfeel,Overall
9,bladerunner53(18),Kloud Original Gravity,"October 9, 2019",2.5,CU GS25 7/11 ministop,-,-,-,-,-
12,GIANNISONG(8),Kloud Original Gravity,"July 20, 2019",2.0,CU GS25 7/11 ministop,-,-,-,-,-
21,YM(1),Kloud Original Gravity,"September 13, 2019",3.0,CU GS25 7/11 ministop,-,-,-,-,-
39,"Skarecrow(1,734)",Kloud Original Gravity,"April 8, 2018",2.5,CU GS25 7/11 ministop,-,-,-,-,-
7,í†µí†µëƒ¥ì´ì½”(6),Kloud Fitz Super Clear,"January 28, 2019",2.3,CU GS25 7/11 ministop,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...
128,haldex(89),Warsteiner Premium Verum,"May 27, 2018",2.5,7/11,-,-,-,-,-
178,PilsnerMeister42(17),Warsteiner Premium Verum,"September 29, 2017",4.0,7/11,-,-,-,-,-
188,pj007(9),Warsteiner Premium Verum,"September 1, 2017",2.6,7/11,-,-,-,-,-
197,"angel77(5,902)",Warsteiner Premium Verum,"August 7, 2017",2.0,7/11,-,-,-,-,-
199,"KoNrRiI(2,146)",Warsteiner Premium Verum,"July 26, 2017",1.8,7/11,-,-,-,-,-

In [48]:
# ì„¸ë¶€ ë¦¬ë·° ê°’ì´ '-'ê°€ ì•„ë‹Œ ë°ì´í„°ë§Œ ì €ì¥
ttmp = ttmp[ttmp['Aroma']!='-']
ttmp = ttmp[ttmp['Appearance']!='-']
ttmp = ttmp[ttmp['Flavor']!='-']
ttmp = ttmp[ttmp['Mouthfeel']!='-']
ttmp = ttmp[ttmp['Overall']!='-']

In [49]:
# ë¬¸ì œ ë°œìƒ : ì„¸ë¶€ ë¦¬ë·° í‰ì ì´ '-'ì¸ ê²½ìš° ë°œìƒ --> í•´ê²°
ttmp[ttmp['Aroma']=='-']

Empty DataFrame
Columns: [ì•„ì´ë””, ë§¥ì£¼, ë‚ ì§œ, í‰ì , í¸ì˜ì , Aroma, Appearance, Flavor, Mouthfeel, Overall]
Index: []

In [50]:
# ìˆ˜ì¹˜í˜• ë°ì´í„°ëŠ” ì‹¤ìˆ˜ë¡œ ë³€í™˜ : pd.to_numeric() í•¨ìˆ˜ ì‚¬ìš©
ttmp['í‰ì '] = pd.to_numeric(ttmp['í‰ì '])
ttmp['Aroma'] = pd.to_numeric(ttmp['Aroma'])
ttmp['Appearance'] = pd.to_numeric(ttmp['Appearance'])
ttmp['Flavor'] = pd.to_numeric(ttmp['Flavor'])
ttmp['Mouthfeel'] = pd.to_numeric(ttmp['Mouthfeel'])
ttmp['Overall'] = pd.to_numeric(ttmp['Overall'])

In [59]:
# ì¤‘ë³µëœ í–‰ë“¤ì„ ì œê±°í•©ë‹ˆë‹¤.
ttmp.drop_duplicates(keep='first', inplace=True)

In [60]:
# ìµœì¢… ë°ì´í„° í™•ì¸
ttmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76287 entries, 0 to 7
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ì•„ì´ë””         76287 non-null  object
 1   ë§¥ì£¼          76287 non-null  object
 2   ë‚ ì§œ          76287 non-null  object
 3   í‰ì           76287 non-null  float64
 4   í¸ì˜ì          76287 non-null  object
 5   Aroma       76287 non-null  int64
 6   Appearance  76287 non-null  int64
 7   Flavor      76287 non-null  int64
 8   Mouthfeel   76287 non-null  int64
 9   Overall     76287 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 6.4+ MB

In [61]:
# ìµœì¢… ë°ì´í„° ê°’ ë¶„í¬ í™•ì¸
ttmp.describe()

,í‰ì,Aroma,Appearance,Flavor,Mouthfeel,Overall
count,76287.000000,76287.000000,76287.000000,76287.000000,76287.000000,76287.000000
mean,2.701181,4.989081,3.135672,5.318508,2.852688,10.715587
std,0.940613,2.024196,1.052534,2.011186,0.982521,4.275328
min,0.500000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,3.000000,2.000000,4.000000,2.000000,8.000000
50%,2.700000,5.000000,3.000000,5.000000,3.000000,11.000000
75%,3.400000,6.000000,4.000000,7.000000,3.000000,14.000000
max,5.000000,10.000000,5.000000,10.000000,5.000000,20.000000

In [62]:
ttmp.to_csv('76ê°œ_ë§¥ì£¼_ë°ì´í„°.csv', encoding='utf-8')